{% load static %}
{% load compress %}

{% compress css file %}
    <link rel="stylesheet" href="{% static "sankey/style.css" %}">
{% endcompress %}

{% compress js file %}
<script src="{% static 'sankey/sankey.js' %}"></script>
<script src="{% static 'sankey/setup-by-orientation.js' %}"></script>
<script src="{% static 'sankey/sankey-wrapper.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
{{ sankeyjs|safe }}  // lgtm [js/useless-expression]

if (numRounds > 1)
{
  loadFunctions();
  makeSankey(graph, numRounds, numCandidates, longestLabelApxWidth, totalVotesPerRound, config.colorTheme);
}
else
{
  d3.select("#sankey-body").append("text")
        .text("Sankey diagrams show a flow from one round to the next. This single-round election cannot be displayed as a Sankey diagram.")
        .style("margin-left", "50px")
}
</script>
