<!DOCTYPE html>
<meta charset="utf-8">
<title>SANKEY Experiment</title>
<style>

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: white 0px 1px 10px, gray 0px 0px 3px;

}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
}

.link:hover {
  stroke-opacity: 1.0;
}

</style>
<body>

<script src="https://d3js.org/d3.v5.min.js"></script>
{% load static %}
<script src="{% static 'sankey/sankey.js' %}"></script>
<!-- change to setupHorizontal to rotate -->
<script src="{% static 'sankey/setupVertical.js' %}"></script>
<script>
{{ sankeyjs|safe }}

var units = "Votes";
var nodePadding = 20 + 2*numCandidates // the more candidates, the more room you want to display connections
var linkPadding = 50
var totalSize0 = numRounds * (nodeSize0 + nodePadding + linkPadding)
var totalSize1 = numCandidates * avgNodeSize1
var totalSize1 = numCandidates * avgNodeSize1

// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 10, left: 50},
    size0 = totalSize0 + size0margin(margin),
    size1 = totalSize1 + size1margin(margin);

// format variables
var formatNumber = d3.format(",.0f"),    // zero decimal places
    format = function(d) { return formatNumber(d) + " " + units; },
    color = d3.scaleOrdinal(d3.schemeCategory20);

// append the svg object to the body of the page
var svg = d3.select("body").append("svg")
    .attr(size0string(), size0 + size0margin(margin))
    .attr(size1string(), size1 + size1margin(margin))
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

// the function for moving the nodes
function dragmove(d) {
var translate0 = dim0(d);
var translate1 = (set_dim1(d, Math.max(
                  0, Math.min(size1 - ddim1(d), dim1(d3.event))))
                 );
commad = commaSeparate(translate0, translate1)
d3.select(this)
  .attr("transform", 
        "translate(" + commad + ")");
sankey.relayout();
link.attr("d", path);
}

// Set the sankey diagram properties
var sankey = d3.sankey()
    .nodeSize0(nodeSize0)
    .nodePadding(nodePadding)
    .size([0, totalSize1]);

var path = sankey.link();

sankey
  .nodes(graph.nodes)
  .links(graph.links)
  .layout(32);

// add in the links
var link = svg.append("g").selectAll(".link")
  .data(graph.links)
.enter().append("path")
  .attr("class", "link")
  .attr("d", path)
  .style("stroke-width", 0)
  .style("fill", function(d) { return d3.rgb(d.color) })
  .sort(function(a, b) { return ddim1(b) - ddim1(a); });

// add the link titles
link.append("title")
    .text(function(d) {
        return format(d.value) + " transferred"; });

// add in the nodes
var node = svg.append("g").selectAll(".node")
  .data(graph.nodes)
.enter().append("g")
  .attr("class", "node")
  .attr("transform", function(d) { 
      commad = commaSeparate(dim0(d), dim1(d))
      return "translate(" + commad + ")"; })
  .call(d3.drag()
    .subject(function(d) {
      return d;
    })
    .on("start", function() {
      this.parentNode.appendChild(this);
    })
    .on("drag", dragmove));

// add the rectangles for the nodes
node.append("rect")
  .attr(size1string(), function(d) { return ddim1(d); })
  .attr(size0string(), sankey.nodeSize0())
  .style("fill", function(d) { return d.color })
.append("title")
  .text(function(d) { 
      return d.name + "\n" + format(d.value); });

// add in the title for the nodes
node.append("text")
  // For horizontal
  .attr("x", function(d) { return textXPos(d) } )
  .attr("y", function(d) { return textYPos(d) } )
  .attr("dy", ".35em")
  .text(function(d) { return d.name; })
  .filter(function(d) { return dim0(d) < size0 / 2; });

</script>

</body>
