{% load static %}
{% load compress %}

{% compress css file %}
    <link rel="stylesheet" href="{% static "sankey/style.css" %}">
{% endcompress %}

<script>
var style;
if (config.horizontalSankey) style = "position: absolute; width: 0px;";
else                         style = "width: 100%";
$('#topbar').attr("style", style);
</script>

{% compress js file %}
<script src="{% static 'sankey/sankey.js' %}"></script>
<script src="{% static 'sankey/setup-by-orientation.js' %}"></script>
<script src="{% static 'sankey/sankey-wrapper.js' %}"></script>
{% endcompress %}
<script> {{ sankeyjs|safe }} </script>
<script type="text/javascript">
if (numRounds > 1)
{
  loadFunctions(config.horizontalSankey);
  makeSankey(graph, numRounds, numCandidates, longestLabelApxWidth, totalVotesPerRound, config.colorTheme);
}
else
{
  d3.select("#sankey-body").append("text")
        .text("Sankey diagrams show a flow from one round to the next. This single-round election cannot be displayed as a Sankey diagram.")
        .style("margin-left", "50px")
}
</script>
