.responsive-table {
    white-space: nowrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.responsive-table-wrapper {
    width: 100%;
    max-width: calc(100vw - 25px); /* -25px to prevent scrollbar on embed */
    overflow-x: auto;
    margin: auto;
    width: fit-content;
}
.fixed-width-table {
    max-width: 1200px;
    width: 95%;
    table-layout:fixed;
}
.table .thead-light th {
    background-color: #e3f6ff;
}
.table thead th {
  border-bottom: none;
}
.table td, .table th {
  padding: 0.4em 1.8rem 0.4em 1.8rem;
}
h3 {
  padding-left: 1em;
  padding-right: 1em;
}

#single-table-summary-table {
  margin-bottom: 0;
}
