.responsive-table {
    white-space: nowrap;
    width: 1%;
    padding-left: 0px;
    padding-right: 0px;
}
.responsive-table-wrapper {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    margin: auto;
    width: fit-content;
}
.cell-with-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.table .thead-light th {
    background-color: #e3f6ff;
}
.table thead th {
  border-bottom: none;
}
.table td, .table th {
  padding: 0.4em 1.8rem 0.4em 1.8rem;
}
h3 {
  padding-left: 1em;
  padding-right: 1em;
}
