{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
{% include "visualizer/common-header.html" %}
{% include "visualizer/common-visualizer-header.html" %}

{% compress css file %}
<link rel="stylesheet" href="{% static 'movie/style.css' %}">
{% endcompress %}

<script>
function flushAllD3Transitions() {
  var now = performance.now;
  performance.now = function() { return Infinity; };
  d3.timerFlush();
  performance.now = now;
 }
</script>

</head>
<body>
<div id="movieRoundNum">
Round Number
</div>
<div>
{% include "bargraph/barchart-interactive.html" %}
</div>
<div id="caption">
Caption
</div>
<div id="logo">
  <img src="{% static 'visualizer/logo-white.png' %}" width="128">
</div>

{% include "visualizer/common-visualizer-nonblocking.html" %}
{% include "bargraph/barchart-common-nonblocking.html" %}
{% include "bargraph/barchart-interactive-nonblocking.html" %}

<script>
    $("#bargraph-slider-container").hide();
    $("#bargraph-interactive-legend").hide();

    const roomForCaptions = 300;
    const windowWidth = window.innerWidth;
    const windowHeight = window.innerHeight;
    const widthScalar = (windowHeight - roomForCaptions)/windowHeight;
    const maxWidth = windowWidth * widthScalar;
    // TODO not sure why this doesn't work:
    //$("#bargraph-interactive-body").css("maxWidth", maxWidth + "px");
    $("#bargraph-interactive-body").css("maxWidth", "750px");
</script>

</body>
</html>
