{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
{% include "visualizer/common-header.html" %}
{% include "visualizer/common-visualizer-header.html" %}
</head>

<body>
    <p>Video generation status: {{ config.get_movieGenerationStatus_display }}</p>

    <p><a href="/createMovie={{ config.slug }}">Regenerate Movie</a></p>

    {% if config.movieHorizontal %}
    <video width='100%' height='auto' style="max-width: {{ config.movieHorizontal.resolutionWidth }}" controls>
        <source src="{{ config.movieHorizontal.movieFile.url }}">
        Your browser does not support the video tag.
    </video>
    {% else %}
    <p>Debug info: No movie exists</p>
    {% endif %}

    {% include "visualizer/common-visualizer-nonblocking.html" %}
</body>
</html>
