venv
__pycache__
rcvis.egg-info
.env
db.sqlite3
docs/build
.coverage
media/
static/CACHE/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Lazy: local uploads are dumped here
*.json

# Items not included in .gitignore
.gitignore
.git
