venv
__pycache__
rcvis.egg-info
.env
db.sqlite3
docs/build
.coverage
media/
static/CACHE/
node_modules/
staticfiles/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
