venv
__pycache__
rcvis.egg-info
.env
db.sqlite3
docs/build
.coverage
media/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Lazy: local uploads are dumped here
*.json
