{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bargraph/style.css' %}">

<div class="container-fluid">
  <div class="row d-flex justify-content-left align-items-start">
    <div class="shadow-wrapper col-md-12 col-xl-10" id="bargraph-interactive-body">
      <div id="bargraph-slider-container" class="ml-auto mr-auto">
      </div>

      <div class="round-description-wrapper" role="alert">
        <small class="round-description-text" id="bargraph-interactive-round-description">
        </small>
      </div>


    </div>
  </div>
</div>
