{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bargraph/style.css' %}">

<div class="row d-flex justify-content-left">
  <div class="col-s-2 col-md-9 col-s-2" id="bargraph-container">
    <div class="row align-items-center">
      <div class="col-sm"><div id="slider-step"></div></div>
    </div>
  
    <div id="bargraph-interactive-body">
    </div>
  </div>
</div>

{% if offlineMode %}
{% load static %}
<script src="{% static 'localdeps/d3-simple-slider.min.js' %}"></script>
{% else %}
<script src="https://unpkg.com/d3-simple-slider"></script>
{% endif %}

<script type="text/javascript">


{{ bargraphjs|safe }}

// For slider TODO sync with tabular-by-round-interactive.html
var viewboxWidth = numRounds * 50 + 120;
var viewboxHeight = 100;

// Fix the max height to not be too wide
var pixelRatio = 0;
function fixMaxWidth() {
    if(pixelRatio == window.devicePixelRatio) return;
    pixelRatio = window.devicePixelRatio;
    // TODO sync this 1360 with the one in barchart.js
    document.getElementById('bargraph-container').style.maxWidth = pixelRatio*1360 + "px";
}
fixMaxWidth();
window.onresize = fixMaxWidth;

// Step slider c/o https://bl.ocks.org/johnwalley/e1d256b81e51da68f7feb632a53c3518
var sliderStep = d3
  .sliderBottom()
  .min(1)
  .max(numRounds)
  .width(numRounds * 45)
  .height(50)
    .tickFormat(function(d) { return "Round " + d;})
  .ticks(numRounds)
  .step(1)
  .default(numRounds)
  .on('onchange', val => {
    transitionEachBarForRound(val);
  });

var gStep = d3
  .select('div#slider-step')
  .append('svg')
  .attr("viewBox", "0 0 " + viewboxWidth + " " + viewboxHeight)
  .append('g')
  .attr('transform', 'translate(100,30)');

gStep.call(sliderStep);

var interactive = true;
var doHideOverflowAndEliminated = {% if config.doHideOverflowAndEliminated %} true {% else %} false {% endif %};
var doUseHorizontalBarGraph = {% if config.doUseHorizontalBarGraph %} true {% else %} false {% endif %};
transitionEachBarForRound = makeBarGraph("#bargraph-interactive-body", data, candidatesRange, totalVotesPerRound, numRoundsTilWin, colors, longestLabelApxWidth, interactive, threshold, doHideOverflowAndEliminated, !doUseHorizontalBarGraph);
</script>
