<script type="text/javascript">
function makeFixedGraph() {
  {{ bargraphjs|safe }}

  const numCandidates = candidateVoteCounts.length;
  fixMaxWidthFor('bargraph-fixed-container', numCandidates);

  const interactive = false;
  makeBarGraph(
    "#bargraph-fixed-body" /* idOfContainer */,
    "#bargraph-fixed-legend" /* idOfLegendOrRoundDescriber */,
    candidateVoteCounts,
    humanFriendlyRoundNames,
    humanFriendlyEventsPerRound,
    totalVotesPerRound,
    numRoundsTilWin,
    colorsPerRound,
    longestLabelApxWidth,
    interactive,
    threshold,
    config.doHideOverflowAndEliminated,
    !config.doUseHorizontalBarGraph,
    config.doDimPrevRoundColors);
}
makeFixedGraph();
</script>
