<script type="text/javascript">

{{ bargraphjs|safe }}

var numRounds = {{ tabularByRoundInteractive.rounds|length }};
var numCandidates = data.length;
var isVertical = !config.doUseHorizontalBarGraph;
fixMaxWidthFor('bargraph-fixed-container', isVertical, numRounds, numCandidates);

var interactive = false;
makeBarGraph("#bargraph-fixed-body", "#bargraph-fixed-legend", data, candidatesRange, totalVotesPerRound, numRoundsTilWin, colors, longestLabelApxWidth, interactive, threshold, config.doHideOverflowAndEliminated, isVertical, config.doDimPrevRoundColors);
</script>
