{% load static %}
{% load compress %}

{% compress js file %}
    <script src="{% static 'bargraph/barchart.js' %}"></script>
    <script src="{% static 'bargraph/barchart-common.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
const colorThemeGenerator = getColorGenerator(config.colorTheme);
const colorsPerRound = Array.from(colorThemeGenerator({{ tabularByRoundInteractive.rounds|length }}));
</script>

{% compress css file %}
    <link rel="stylesheet" href="{% static "bargraph/style.css" %}">
{% endcompress %}
