<script type="text/javascript">
function makeFixedGraph() {
  {{ bargraphjs|safe }}  // lgtm [js/useless-expression]

  const numCandidates = candidateVoteCounts.length;
  fixMaxWidthFor('bargraph-fixed-container', numCandidates);

  const isInteractive = false;
  makeBarGraph({
    idOfContainer: "bargraph-fixed-body",
    idOfLegend: "bargraph-fixed-legend",
    candidateVoteCounts,
    humanFriendlyRoundNames,
    totalVotesPerRound,
    numRoundsTilWin,
    colors: colorsPerRound,
    longestLabelApxWidth,
    isInteractive,
    threshold,
    eliminationBarColor: config.eliminationBarColor,
    isVertical: !config.doUseHorizontalBarGraph,
    doDimPrevRoundColors: config.doDimPrevRoundColors,
    candidateSidecarData: candidateSidecarData
  });
}
makeFixedGraph();
</script>
