<div class="row d-flex justify-content-left">
    <div class="col-s-2 col-md-9 col-s-2">
        <div id="bargraph-fixed-body">
        </div>

        <div class="row d-flex">
            <div class="col" id="bargraph-fixed-body">
            </div>
            <div class="col" id="bargraph-fixed-legend">
            </div>
        </div>
    </div>
</div>

<!-- c/o http://bl.ocks.org/mstanaland/6100713 -->

<script type="text/javascript">

// Setup svg using Bostock's margin convention

{{ bargraphjs|safe }}

var interactive = false;
var doHideOverflowAndEliminated = {% if config.doHideOverflowAndEliminated %} true {% else %} false {% endif %};
var doUseHorizontalBarGraph = {% if config.doUseHorizontalBarGraph %} true {% else %} false {% endif %};
makeBarGraph("#bargraph-fixed-body", "#bargraph-fixed-legend", data, candidatesRange, totalVotesPerRound, numRoundsTilWin, colors, longestLabelApxWidth, interactive, threshold, doHideOverflowAndEliminated, !doUseHorizontalBarGraph);
</script>
