### The following fields must be provided.

# a user-generated string
export RCVIS_SECRET_KEY=''

# set to True to enable debug mode
export RCVIS_DEBUG=True

# host IP address
export RCVIS_HOST=localhost

# toggle offline mode
export OFFLINE_MODE=True

### The following fields are optional, though you will have limited functionality without them.
# Can we be more specific about what we mean by limited?

# Or set up an AWS bucket and enter your credentials
# export OFFLINE_MODE=False
# export AWS_STORAGE_BUCKET_NAME=''
# export AWS_S3_REGION_NAME=''
# export AWS_ACCESS_KEY_ID=''
# export AWS_SECRET_ACCESS_KEY=''

# To send registration emails when OFFLINE_MODE is False:
# export SENDGRID_USERNAME=''
# export SENDGRID_PASSWORD=''

# To clear cloudflare cache when models update:
# export CLOUDFLARE_ZONE_ID=''
# export CLOUDFLARE_AUTH_TOKEN=''

# To run the SauceLabs integration tests, you will need
export SAUCE_USERNAME=''
export SAUCE_ACCESS_KEY=''

# To generate videos (and to run movie tests), you will need:
export IMAGEIO_FFMPEG_EXE='/usr/bin/ffmpeg'
export SQS_QUEUE_NAME='default-queue'
# export MOVIE_FONT_NAME="Roboto"
# export AWS_POLLY_STORAGE_BUCKET_NAME="bucket-name-on-s3"

# To subscribe users to mailchimp upon registration, you need:
# export MAILCHIMP_API_KEY=''
# export MAILCHIMP_LIST_ID=''
# export MAILCHIMP_DC=''

# If you are updating a template, you'll need to clear the cache every time or set:
# export DISABLE_CACHE=True