.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

.trs-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.slider text {
  font-size: 1.3em;
}
.round-description-wrapper {
  padding: 0px 10px 0px 10px;
  box-shadow: 1px 5px 20px 0 #dedede;
  border-radius: 10px;
  height: 60px;
  line-height: 60px;
  font-size: 0.9em;
  background-color: #e3f6ff;
  margin-top: 15px;
  display: none; /* Disable for now */
  overflow-y: auto;
}
.round-description-text {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
}

#bargraph-interactive-body {
  padding-top: 10px;
}

@media only screen and (max-width: 1024px) {
  /* first reduce font size */
  .round-description-wrapper {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  /* then reduce again text */
  .trs-wrapper {
    font-size: 0.75rem;
  }
  .prev-next-button {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 425px) {
  .trs-wrapper {
    font-size: 0.5rem;
  }
  .slider-item-hidden-slider-active{
    padding-bottom: 6px;
  }
  .prev-next-button {
    margin-top: 5px;
  }
}
