.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

.trs-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.slider text {
  font-size: 1.3em;
}
.tick {
  font-size: 0.7em;
}
.round-description-wrapper {
  padding: 0px 10px 0px 50px;
  box-shadow: 1px 5px 20px 0 #dedede;
  border-radius: 10px;
  height: 60px;
  line-height: 60px;
  font-size: 0.9em;
  background-color: #e3f6ff;
  margin-top: 15px;
  display: none; /* Disable for now */
}
.round-description-text {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
}

#bargraph-interactive-body {
  box-shadow: 1px 1px 10px 0 #dedede;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
