.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}
.slider text {
  font-size: 1.3em;
}
.tick {
  font-size: 0.7em;
}
