packages:
  yum:
    libcurl-devel: []
commands: # c/o https://stackoverflow.com/a/56260434/1057105
  01_pycurl_uninstall_if_exists:
      command: '/usr/bin/yes | sudo /opt/python/run/venv/bin/pip3 uninstall pycurl || true'
  02_pycurl_reinstall:
      command: 'sudo /opt/python/run/venv/bin/pip3 install pycurl --global-option="--with-openssl"'
