packages:
  yum:
    xorg-x11-server-Xvfb: []
commands: # c/o https://stackoverflow.com/a/56260434/1057105
  01_cd_tmp:
      command: 'cd /tmp'
  02_wget:
      command: 'wget https://chromedriver.storage.googleapis.com/84.0.4147.30/chromedriver_linux64.zip'
  03_unzip:
      command: 'unzip chromedriver_linux64.zip'
  04_move:
      command: 'sudo mv chromedriver /usr/bin/chromedriver'
  05_download_and_run_chrome_installer:
      command: 'curl https://intoli.com/install-google-chrome.sh | bash'
