packages:
  yum:
    xorg-x11-server-Xvfb: []
commands:
  01_copy_of_scripts_slash_install_chromedriver_dot_sh:
      command: 'cd /tmp && https://chromedriver.storage.googleapis.com/86.0.4240.22/chromedriver_linux64.zip && unzip chromedriver_linux64.zip && sudo mv chromedriver /usr/bin/chromedriver'
  02_install_chrome:
      command: 'curl https://intoli.com/install-google-chrome.sh | bash'
