{% extends "visualizer/base.html" %}
{% load static %}
{% load compress %}
{% load reverse %}
{% load tz %}

{% block header %}
<meta property="og:title" content="{{ electionpage.title }}" />
<meta property="og:description" content="{{ electionpage.description }}" />
<meta property="og:site_name" content="rcvis" />
<meta property="og:type" content="website">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'visualizer/favicons/android-chrome-256x256.png' %}">
<meta property="og:url" content="{% get_reverse_as_complete_url 'electionPage' electionpage.slug %}" />
{% endblock %} 

{% block navlinks %}
<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  Menu
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://fairvote.org/how-to-display-rcv-election-results/">FairVote's best practices</a>
    </li>
    
  </ul>
</div>
{% endblock %}

{% block maincontent %}
<div class="container mt-3">
  <h1 class="masthead-subheading font-weight-light">{{ electionpage.title }}</h1>
  <p class="font-weight-light">{{ electionpage.date }}</p>
  <p>{{ electionpage.description }}</p>

  <div class="accordion">
    {% for election in elections %}
      <div class="card mb-2" id="contest-{{ forloop.counter0 }}">
        <div class="card-header" id="contentheading-{{ forloop.counter0 }}">
          <div class="d-flex" style="justify-content: space-between;">
            <div>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bargraph-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="bargraph-{{ forloop.counter0 }}">
                <h3 class="mb-0 text-left">{{ election.jsonConfig.title }}</h3>
              </button>
            </div>
            <div style="min-width:160px">
              <button id="bargraph-button-{{ forloop.counter0 }}" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#bargraph-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="bargraph-{{ forloop.counter0 }}">
                 <img class="tabicon" src="{% static 'visualizer/tabicons/barchart.png' %}" width="18" height="18" alt="Barchart icon"/>
              </button>
              <button id="tabular-button-{{ forloop.counter0 }}" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#tabular-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="tabular-{{ forloop.counter0 }}">
                  <img class="tabicon" src="{% static 'visualizer/tabicons/singletable.png' %}" width="18" height="18" alt="Single Table Summary icon"/>
              </button>
              <a href="{% url 'visualize' election.jsonConfig.slug %}" target="_blank">
                  <button class="btn btn-secondary" type="button">
                      <img class="tabicon" src="{% static 'visualizer/tabicons/newtab.png' %}" width="18" height="18" alt="Open in external tab"/>
                  </button>
              </a>
            </div>
          </div>
        </div>

        <div id="bargraph-{{ forloop.counter0 }}" class="collapse" aria-labelledby="contentheading-{{ forloop.counter0 }}" data-parent="#contest-{{ forloop.counter0 }}">
          <div class="card-body">
            <iframe id="bargraph-iframe-{{ forloop.counter0 }}" src="about:blank" data-src="{% url 'visualizeEmbedded' election.jsonConfig.slug %}?vistype=barchart-interactive" width="100%" height="{{ election.iframeHeight }}px"></iframe>
          </div>
        </div>
        <div id="tabular-{{ forloop.counter0 }}" class="collapse" aria-labelledby="contentheading-{{ forloop.counter0 }}" data-parent="#contest-{{ forloop.counter0 }}">
          <div class="card-body">
            <iframe id="tabular-iframe-{{ forloop.counter0 }}" src="about:blank" data-src="{% url 'visualizeEmbedded' election.jsonConfig.slug %}?vistype=tabular-candidate-by-round" width="100%" height="{{ election.iframeHeight }}px"></iframe>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block afterMaincontent %}

{% if offlineMode %}
    <script src="{% static 'localdeps/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'localdeps/bootstrap.bundle.min.js' %}"></script>
{% else %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endif %}

<script type="text/javascript">
    function setButtonTo(button, visible)
    {
        if (visible)
        {
            button.removeClass('btn-secondary');
            button.addClass('btn-primary');
        }
        else
        {
            button.addClass('btn-secondary');
            button.removeClass('btn-primary');
        }
    }

    function updateVisibility(index)
    {
        isTabularVisible=$('#tabular-' + index).hasClass('show');
        isBargraphVisible=$('#bargraph-' + index).hasClass('show');
        setButtonTo($('#tabular-button-' + index), isTabularVisible);
        setButtonTo($('#bargraph-button-' + index), isBargraphVisible);
    }

    {% for election in elections %}
        $('#contest-{{ forloop.counter0 }}').on('hidden.bs.collapse', function () {
            updateVisibility('{{ forloop.counter0 }}');
        })
        $('#contest-{{ forloop.counter0 }}').on('shown.bs.collapse', function () {
            updateVisibility('{{ forloop.counter0 }}');
            isTabularVisible=$('#tabular-{{ forloop.counter0 }}').hasClass('show')
            isBargraphVisible=$('#bargraph-{{ forloop.counter0 }}').hasClass('show')
            if (isTabularVisible)
            {
              iframe=$('#tabular-iframe-{{forloop.counter0}}');
            }
            else if (isBargraphVisible)
            {
              iframe=$('#bargraph-iframe-{{forloop.counter0}}');
            }
            else
            {
              console.log("Erorr - what's visible then?")
            }

            if (iframe.attr('data-src') != iframe.attr('src'))
            {
                // Set the src to the data-src
                iframe.attr('src', iframe.attr('data-src'));
            }
        })
    {% endfor %}
</script>

{% endblock %}
