form div.formArea {
  line-height: 50px;
  border: 4px dashed #fff;
}
.selectFileButtonWrapper {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 100px;
  width: 100%;
}
#submitDiv {
  text-align: center;
  margin-top: 20px;
}
.selectFileButtonWrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

svg {
  shape-rendering: crispEdges;
    font: 6px sans-serif;
}
.collapsible {
  background-color: #0074D9;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active .collapsible:hover {
  background-color: #7FDBFF;
  color: #00060c;
}
.optionscontent {
  text-align: left;
  line-height: 1.5em;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: ##00060c;
}
