{% load static %}
{% load compress %}

{% compress css file %}
<link rel="stylesheet" type="text/css" href="{% static 'settings/settings.css' %}">
{% endcompress %}
              
{% block beforeOptions %}
{% endblock %}
<body>
     <div class="container formArea">
        {% block additionalOptions %}
        {% endblock %}

        <button class="collapsible" id="colorOptions">▶ Color theme</button>
        <div class="optionscontent">
            <p class="mt-3">
              <label for="colorTheme">Color theme:</label>
              <select id="colorTheme" name="colorTheme">
                <option value="0">Full color spectrum</option>
                <option value="1" selected>Desaturated purple to orange spectrum</option>
                <option value="2">Alternating colors</option>
              </select>
            </p>
        </div>

        <button class="collapsible" id="bargraphOptions">▶ Bargraph visualization options</button>
        <div class="optionscontent">
            <p class="mt-3">
              <label for="eliminationBarColor">How do display elimination bars:</label>
              <select id="eliminationBarColor" name="eliminationBarColor">
                <option value="0" selected>Gray them out</option>
                <option value="1">Hide them altogether</option>
                <option value="2">Show color matching the transfer</option>
              </select>
            </p>

            <p>
            <input type="hidden" name="doDimPrevRoundColors"/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="doDimPrevRoundColors" checked> Highlight the current round when interactive</label>
            </p>

            <p>
            <input type="hidden" name="doUseDescriptionInsteadOfTimeline"/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="doUseDescriptionInsteadOfTimeline" checked> Use longform description instead of timeline</label>
            </p>

            <p>
            <input type="hidden" name="isPreferentialBlock"/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="isPreferentialBlock"> Is this election a <a href="https://en.wikipedia.org/wiki/Preferential_block_voting" target="_blank">Preferential Block Voting</a> election?</label>
            <br/>
            <small>This changes the longform description FAQs to describe Preferential Block Voting</small>
            </p>
        </div>

        <button class="collapsible" id="sankeyOptions">▶ Sankey visualization options</button>
        <div class="optionscontent">
            <p class="mt-3">
            <input type="hidden" name="hideSankey" value=""/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="hideSankey"/> Hide the sankey altogether</label>
            </p>

            <p>
            <input type="hidden" name="rotateNames" value=""/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="rotateNames"/> Rotate the names of candidates on the top bar</label>
            </p>

            <p>
            <input type="hidden" name="showRoundNumbersOnSankey"/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="showRoundNumbersOnSankey" checked/> Show round numbers on Sankey?</label>
            </p>
        </div>

        <button class="collapsible" id="tabularOptions">▶ Tabular visualization options</button>
        <div class="optionscontent">
            <p class="mt-3">
            <input type="hidden" name="hideTabular"/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="hideTabular"/> Hide all tabular formats</label>
            </p>
            <p>
            <input type="hidden" name="onlyShowWinnersTabular"/><!-- To be sent in GET/POST if unchecked -->
            <label><input type="checkbox" name="onlyShowWinnersTabular"/> Only show winners, hiding eliminated candidates</label>
            </p>
        </div>
    </div>

{% block afterOptions %}
{% endblock %}

     {% include "settings/settings-candidate-modal.html" %}
</body>