{% extends  "settings/base.html" %}
{% load static %}

{% block beforeOptions %}
<script>
function summaryFileSelected(files)
{
  document.getElementById("selectResultsFileButton").innerHTML = files[0].name
  document.getElementById("options").style.opacity = '100%'
  document.getElementById("uploadButton").disabled = false;
}

function sidecarFileSelected(files)
{
  document.getElementById("selectSidecarFileButton").innerHTML = files[0].name
}
</script>

  <div class="mb-2 mt-2" id="header">
    <div class="uploaddescriptor">
      <h1 class="page-section-heading text-center mb-0">Upload Tabulated Election Results</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    </div>
  </div>

  <div class="mb-2 mt-2" id="fileselection">
    <div class="selectFileButtonWrapper">
      <button id="selectResultsFileButton" class="btn btn-primary btn-xl">Click to select a file</button>
      <input id="jsonFile" type="file" class="selectFileDefaultInput" name="jsonFile" accept="application/json, .csv, .xlsx"  onchange="summaryFileSelected(this.files)"/>
    </div>

    {% include "settings/settings-help-filetype.html" %}
  </div>

  <div class="mb-2 mt-2" id="options">
    <div class="uploaddescriptor">
      <h1 class="page-section-heading text-center narrowbox">Customization Options</h1>
      {% csrf_token %}
{% endblock %}

{% block additionalOptions %}
    <button class="collapsible">▶ Data Options</button>

    <div class="optionscontent" id="globalOptions">
      <p class="mt-3">
        <div class="container mt-3">
          <label for="dataSourceURL">URL of Data Source:</label>
          <input type="url" id="dataSourceURL" name="dataSourceURL"/>
        </div>
        <div class="container mt-3">
            <p class="mt-3">
              <label for="textForWinner">How to refer to the winner?</label>
              <select id="textForWinner" name="textForWinner">
                <option value="0" selected>"Candidate was elected"</option>
                <option value="1">"Candidate won"</option>
                <option value="2">"Candidate advanced to the general"</option>
                <option value="3">"Candidate is in the lead"</option>
              </select>
            </p>
        </div>
        <div class="container mt-3">
          <input type="hidden" name="areResultsCertified"/><!-- To be sent in GET/POST if unchecked -->
          <label>
              <input type="checkbox" name="areResultsCertified"/> Are these results certified?
          </label>
        </div>


        <div class="container row mt-3">
          <div class="selectFileButtonWrapper col-sm">
            <button id="selectSidecarFileButton" class="btn btn-primary">Click to select a sidecar file</button>
            <input id="candidateSidecarFile" type="file" class="selectFileDefaultInput" name="candidateSidecarFile" accept="application/json"  onchange="sidecarFileSelected(this.files)"/>
          </div>
          <div class="col-sm">
            <label for="candidateSidecarFile">
              <p>
              A sidecar file can provide additional information about candidates.<br/>This feature is not yet documented - email team@rcvis for more info.
              </p>
            </label>
          </div>
        </div>
      </p>
    </div>

    <button class="collapsible">▶ Global visualization options</button>

    <div class="optionscontent" id="globalOptions">
      <p class="mt-3">
        <input type="hidden" name="hideDecimals"/><!-- To be sent in GET/POST if unchecked -->
        <label>
            <input type="checkbox" name="hideDecimals"/> Hide decimal places
        </label>
        <br/>
        <small>By default, we'll show up to two decimal places.</small></label>
        <br/><br/>
        <input type="hidden" name="excludeFinalWinnerAndEliminatedCandidate"/><!-- To be sent in GET/POST if unchecked -->
        <label>
            <input type="checkbox" name="excludeFinalWinnerAndEliminatedCandidate"/> Exclude the final elected and eliminated candidate
            <br/>
            <small>This is useful for in-progress elections to avoid bouncing back and forth</small>
        </label>
      </p>
    </div>

{% endblock %}

{% block afterOptions %}

      <div class="narrowbox mt-3">
        <button id="uploadButton" type="submit" class="btn btn-primary btn-xl" disabled>Upload to RCVis</button>
      </div>

    </div>
  </div>

  {% include "settings/settings-nonblocking.html" %}
{% endblock %}
