{% extends  "settings/base.html" %}
{% load static %}

{% block beforeOptions %}
<script>
function handleFiles(files)
{
  document.getElementById("selectFileButton").innerHTML = files[0].name
  document.getElementById("options").style.opacity = '100%'
  document.getElementById("uploadButton").disabled = false;
}
</script>

  <div class="mb-2 mt-2" id="header">
    <div class="uploaddescriptor">
      <h1 class="page-section-heading text-center mb-0">Upload Tabulated Election Results</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    </div>
  </div>

  <div class="mb-2 mt-2" id="fileselection">
    <div class="selectFileButtonWrapper">
      <button id="selectFileButton" class="btn btn-primary btn-xl">Click to select a file</button>
      <input id="jsonFile" type="file" class="selectFileDefaultInput" name="jsonFile" accept="application/json, .csv"  onchange="handleFiles(this.files)"/>
    </div>

    <div class="narrowbox">
      <p class="masthead-subheading font-weight-light mt-3 narrowbox">
       <button class="btn btn-link" data-toggle="collapse" data-target="#acceptedformats" aria-expanded="false" aria-controls="acceptedformats" type="button">
         What formats are accepted?
       </button>
       |
       <button class="btn btn-link" data-toggle="collapse" data-target="#exampledata" aria-expanded="false" aria-controls="exampledata" type="button">
         Don't have any data to upload?
       </button>
      </p>
      <div class="collapse" id="acceptedformats">
        <div class="card card-body mb-3 d-block bg-light">
          <h5 class="card-title">Accepted formats</h5>
          <ol class="list-group">
            <li class="list-group-item"><a href="https://www.rankedchoicevoting.org/universal_rcv_tabulator">Universal RCV Tabulator (JSON)</a></li>
            <li class="list-group-item"><a href="https://www.opavote.com/methods/ranked-choice-voting">Opavote's Online Elections (JSON)</a></li>
            <li class="list-group-item"><a href="https://electionbuddy.com/features/voting-systems/preferential-voting">ElectionBuddy Preferential Voting (CSV)</a></li>
          </ol>
          <p class="mt-2 mb-0">
            To use RCVIS, you need to upload the results of an election or poll which has already occured.
            RCVIS does not host any RCV polls, it only visualizes the results of an election.
          </p>
        </div>
      </div>
      <div class="collapse" id="exampledata">
        <div class="card card-body mb-3 d-block bg-light">
          <h5 class="card-title">Other ways to try out RCVIS</h5>
          <ol class="list-group">
            <li class="list-group-item"><a href="{% url 'index'  %}#examples">Check out some examples</a></li>
            <li class="list-group-item"><a href="https://rankit.vote">Create a poll on rankit</a></li>
            <li class="list-group-item"><a href="https://electionbuddy.com/features/voting-systems/preferential-voting">Host an election on ElectionBuddy</a></li>
          </ol>
          <p class="mt-2 mb-0">
            If you're curious about using RCVIS for an upcoming election, please get in touch at <a href="mailto:team@rcvis.com">team@rcvis.com</a>.
            If you're just poking around, you can explore previous elections using the <a href="{% url 'index'  %}#examples">examples</a> link above.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2 mt-2" id="options">
    <div class="uploaddescriptor">
      <h1 class="page-section-heading text-center narrowbox">Customization Options</h1>
      {% csrf_token %}
{% endblock %}

{% block additionalOptions %}
    <button class="collapsible">▶ Global visualization options</button>

    <div class="optionscontent" id="globalOptions">
      <p class="mt-3">
        <input type="hidden" name="hideDecimals"/><!-- To be sent in GET/POST if unchecked -->
        <label>
            <input type="checkbox" name="hideDecimals"/> Hide decimal places
        </label>
        <br/>
        <small>By default, we'll show up to two decimal places.</small></label>
        <br/><br/>
        <input type="hidden" name="excludeFinalWinnerAndEliminatedCandidate"/><!-- To be sent in GET/POST if unchecked -->
        <label>
            <input type="checkbox" name="excludeFinalWinnerAndEliminatedCandidate"/> Exclude the final elected and eliminated candidate
            <br/>
            <small>This is useful for in-progress elections to avoid bouncing back and forth</small>
        </label>
      </p>
    </div>

{% endblock %}

{% block afterOptions %}
      <div class="narrowbox mt-3">
        <button id="uploadButton" type="submit" class="btn btn-primary btn-xl" disabled>Upload to RCVIS</button>
      </div>
    </div>
  </div>

    {% include "visualizer/common-visualizer-nonblocking.html" %}
    {% include "settings/settings-nonblocking.html" %}
{% endblock %}
