{% extends  "settings/base.html" %}
{% load static %}
{% load compress %}

{% block beforeOptions %}
{% compress js file %}
  <script type="text/javascript" src="{% static 'micromodal/dist/micromodal.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'tabulator-tables/dist/js/tabulator.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'settings/upload.js' %}"></script>
  <script type="text/javascript" src="{% static 'settings/upload-datatable.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'settings/model/candidate.js' %}" defer></script>
{% endcompress %}
  {% compress css file %}
    <link rel="stylesheet" type="text/css" href="{% static 'settings/tabulator-custom.css' %}">
    <link rel="stylesheet" href="{% static 'tabulator-tables/dist/css/tabulator_bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'settings/custom-modal.css' %}">
{% endcompress %}

  <div class="mb-2 mt-2" id="header">
    <div class="uploaddescriptor">
      <h1 class="page-section-heading text-center mb-0">Upload Tabulated Election Results</h1>
    </div>
  </div>

  <form action="upload.html" enctype="multipart/form-data" method="post" id="form">
  <div id="file-upload-box">
    {% include "settings/settings-upload-by-file.html" %}

    <p class="masthead-subheading font-weight-light mt-3 narrowbox">
     You may also choose to: 
     <button id="swapDataTables" class="btn btn-link" onclick="showDataTable(true)" type="button">
       enter round-by-round results manually
     </button>
    </p>
  </div>
  <div id="datatable-upload-box">
    {% include "settings/settings-upload-by-datatable.html" %}

    <p class="masthead-subheading font-weight-light mt-3 narrowbox">
     You may also choose to: 
     <button class="btn btn-link" onclick="showDataTable(false)" type="button">
       upload a Results Summary File
     </button>
    </p>
  </div>

  <div class="mb-2 mt-2" id="options">
    <div class="uploaddescriptor">
      <h1 class="page-section-heading text-center narrowbox">Customization Options</h1>
      {% csrf_token %}
{% endblock %}

{% block additionalOptions %}
    <button class="collapsible">▶ Data Options</button>

    <div class="optionscontent" id="globalOptions">
      <p class="mt-3">
        <div class="container mt-3">
          <label for="dataSourceURL">URL of Data Source:</label>
          <input type="url" id="dataSourceURL" name="dataSourceURL"/>
        </div>
        <div class="container mt-3">
            <p class="mt-3">
              <label for="textForWinner">How to refer to the winner?</label>
              <select id="textForWinner" name="textForWinner">
                <option value="0" selected>"Candidate was elected"</option>
                <option value="1">"Candidate won"</option>
                <option value="2">"Candidate advanced to the general"</option>
                <option value="3">"Candidate is in the lead"</option>
              </select>
            </p>
        </div>

        <div class="container mt-3">
          <input type="hidden" name="areResultsCertified"/><!-- To be sent in GET/POST if unchecked -->
          <label>
              <input type="checkbox" name="areResultsCertified"/> Are these results certified?
          </label>
        </div>

        <div class="container mt-3">
          <input type="hidden" name="excludeFinalWinnerAndEliminatedCandidate"/><!-- To be sent in GET/POST if unchecked -->
          <label>
              <input type="checkbox" name="excludeFinalWinnerAndEliminatedCandidate"/> Hide winner because results are preliminary?
              <br/>
              <small>This will hide the final elected and eliminated candidate and mark the election as preliminary.</small>
          </label>
        </div>


        <div class="container row mt-3">
          <div class="selectFileButtonWrapper col-sm">
            <button id="selectSidecarFileButton" class="btn btn-primary">Click to select a sidecar file</button>
            <input id="candidateSidecarFile" type="file" class="selectFileDefaultInput" name="candidateSidecarFile" accept="application/json"  onchange="sidecarFileSelected(this.files)"/>
          </div>
          <div class="col-sm">
            <label for="candidateSidecarFile">
              <p>
              A sidecar file can provide additional information about candidates.<br/>This feature is not yet documented - email team@rcvis for more info.
              </p>
            </label>
          </div>
        </div>
        <div class="container row mt-3">
          <div id="manuallyEditUpload" class="manuallyEditButtonWrapper col-sm">
            <button id="manuallyEditUploadButton" class="btn btn-primary"
                    onclick="manuallyEditUpload(event, this.files)">Edit Uploaded Data</button>
          </div>
          <div class="col-sm">
            <label for="manuallyEditUploadButton">
              <p>
                Manually edit your uploaded data. Currently limited to adding candidate information only, but future updates will allow for more customization.
              </p>
            </label>
          </div>
        </div>
        <div class="mt-3 container" style="overflow-x: auto">
          <div id="dataTableWrapperUpload">
          </div>
        </div>
      </p>
    </div>

    <button class="collapsible">▶ Global visualization options</button>

    <div class="optionscontent" id="globalOptions">
      <p class="mt-3">
        <input type="hidden" name="hideDecimals"/><!-- To be sent in GET/POST if unchecked -->
        <label>
            <input type="checkbox" name="hideDecimals"/> Hide decimal places
        </label>
        <br/>
        <small>By default, we'll show up to two decimal places.</small></label>
        <br/><br/>
      </p>
    </div>

{% endblock %}

{% block afterOptions %}

      <div class="narrowbox mt-3">
        <button id="uploadButton" type="submit" class="btn btn-primary btn-xl" disabled>Upload to RCVis</button>
      </div>

    </div>
  </div>
  </form>

  {% include "settings/settings-nonblocking.html" %}
{% endblock %}
