{% load static %}
{% load compress %}
<link rel="stylesheet" href="{% static 'tabulator-tables/dist/css/tabulator_bootstrap5.min.css' %}">
{% compress css file %}
<link rel="stylesheet" type="text/css" href="{% static 'settings/tabulator-custom.css' %}">
{% endcompress %}


<div class="mt-3 container" style="overflow-x: auto">
  <div id="configDataTableWrapper">
      <div class="container mt-3">
        <label for="configElectionTitle">Title of election</label>
        <input type="text" id="configElectionTitle" name="configElectionTitle"/>
      </div>
      <div class="container mt-3">
        <label for="configElectionDate">Date of election</label>
        <input type="date" id="configElectionDate" name="configElectionDate"/>
      </div>
      <div class="container mt-3">
        <label for="configThreshold">Winning threshold</label>
        <input type="number" id="configThreshold" name="configThreshold"/>
      </div>
  </div>
  <div class="upload-tableoptions">
    <button id="upload-add-row">Add New Candidate</button>
    <button id="upload-del-row">Delete Last Candidate</button>
    <button id="upload-add-col">Add Round</button>
    <button id="upload-del-col">Delete Last Round</button>
    <br />
    <span>Show advanced options? <label for="upload-show-advanced-options"></label>
      <input type="checkbox" id="upload-show-advanced-options" /></span>
  </div>
  <div id="dataTableWrapper">
  </div>
  <div class="text-center">
    <div id="dataEntryValidationMessage"></div>
    <input type="hidden" id="dataEntry" name="dataEntry" value="" />
    <button id="validateButton" type="button" class="btn btn-primary btn-xl" onclick="validateDataEntry()">Validate Data Before Proceeding</button>
  </div>
</div>

<!-- non-slim jquery needed for AJAX validation calls -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'tabulator-tables/dist/js/tabulator.min.js' %}"></script>
{% compress js file %}
<script type="text/javascript" src="{% static 'usfca-data-table/data-table/table.js' %}"></script>
<script type="text/javascript" src="{% static 'settings/model/candidate.js' %}" defer></script>
<script type="text/javascript" src="{% static 'settings/upload-by-datatable-nonblocking.js' %}" defer></script>
{% endcompress %}
