{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tabular/style.css' %}">

<div id="tabular-body">
</div>

<div class="responsive-table-wrapper">
<div id="tabularByRoundInteractiveContainer" class="responsive-table">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Round</th>
            <th scope="col" class="cell-with-padding">Eliminated</th>
            <th scope="col" class="cell-with-padding">Winners</th>
        </tr>
    </thead>

    <tbody>
        {% for roundTabulation in tabularByRound.tabulation %}
        <tr>
            <th scope="row">Round {{ roundTabulation.round_i }}</th>
            <td class="cell-with-padding">{{ roundTabulation.eliminated|safe }}</td>
            <td class="cell-with-padding">{{ roundTabulation.winners|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
