{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tabular/style.css' %}">

{% for candidateTabulation in tabularByCandidate.tabulation %}
<table class="shadow-wrapper table fixed-width-table">
    <h4> {{ candidateTabulation.name }} </h4>
    <thead class="thead-light">
        <tr>
            <th scope="col">Round</th>
            <th scope="col" style="max-width: 800px">What changed</th>
            <th scope="col">Current total votes</th>
        </tr>
    </thead>

    <tbody>
        {% for roundTabulation in candidateTabulation.rounds %}
        <tr>
            <th scope="row">Round {{ roundTabulation.round_i }}</th>
            <td class="cell-with-padding">{{ roundTabulation.summary }}</td>
            <td class="cell-with-padding"><strong>{{ roundTabulation.primaryLabel }}</strong><br/>
                                                  {{ roundTabulation.secondaryLabel }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
