{% load static %}

  <div id="tabular-by-round-slider-container" class="ml-auto mr-auto">
  </div>

  <div id="tabularByRoundInteractiveContainer">
    {% for round in tabularByRoundInteractive.rounds %}
      <div id="tabular_round_container_{{ forloop.counter0 }}">
        <h4 class="mt-2 text-center">Round {{ forloop.counter }}</h4>
        <table class="shadow-wrapper table fixed-width-table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Candidate</th>
              <th style="max-width: 200px" scope="col">What changed</th>
              <th scope="col">Current total votes</th>
            </tr>
          </thead>
        
          <tbody>
            {% for candidate in round %}
              {% if candidate.wonThisRound %}
              <tr style="background-color: #BFFFCC">
              {% elif candidate.eliminatedThisRound %}
              <tr style="background-color: #FFBFBF">
              {% elif candidate.isWinner %}
              <tr style="background-color: #E8FFE9">
              {% elif candidate.isEliminated %}
              <tr style="background-color: #FFE8E8">
              {% else  %}
              <tr style="background-color: #fff">
              {% endif %}
                  <th scope="row">{{ candidate.name }}</th>
                  <td>{{ candidate.change }}</td>
                  <td><strong>{{ candidate.primaryLabel }}</strong><br/>
                              {{ candidate.secondaryLabel }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
