{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tabular/style.css' %}">

<div class="responsive-table-wrapper" id="single-table-summary-wrapper">
<div class="responsive-table">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="col-auto">Candidate name </th>
            {% for roundTabulation in singleTableSummary.rounds %}
                <th scope="col" class="col-auto cell-with-padding">Round {{ forloop.counter }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for candidateTabulation in singleTableSummary.tabulation %}
        <tr>
            <th scope="row">{{ candidateTabulation.name }}</th>
            {% for round in candidateTabulation.eachRound %}
                {% if not round %}
                 <td style="background-color: #FFBFBF"></td>
                 {% else %}
                 <td
                     class="cell-with-padding"
                     {% if round.isWinner %}
                     style="background-color: #BFFFCC"
                     {% endif %}
                 >
                      <h3>{{ round.primaryLabel }}</h3><br/>
                          {{ round.secondaryLabel }}
                 </td>
                 {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
