{% load static %}

<div id="tabular-body">
</div>

<div class="responsive-table-wrapper">
<div id="tabularByRoundInteractiveContainer" class="responsive-table">
<table class="shadow-wrapper table fixed-width-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Round</th>
            <th scope="col">Eliminated</th>
            <th scope="col">Winners</th>
        </tr>
    </thead>

    <tbody>
        {% for roundTabulation in tabularByRound.tabulation %}
        <tr>
            <th scope="row">Round {{ roundTabulation.round_i }}</th>
            <td>{{ roundTabulation.eliminated|safe }}</td>
            <td>{{ roundTabulation.winners|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
