{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tabular/style.css' %}">

<div class="responsive-table-wrapper">
<div class="table-responsive-md responsive-table">
{% for candidateTabulation in tabularByCandidate.tabulation %}
<table class="table">
    <h4> {{ candidateTabulation.name }} </h4>
    <thead class="thead-light">
        <tr>
            <th scope="col" width="10%">Round</th>
            <th scope="col" width="80%">What changed</th>
            <th scope="col" width="10%">Current total votes</th>
        </tr>
    </thead>

    <tbody>
        {% for roundTabulation in candidateTabulation.rounds %}
        <tr>
            <th scope="row">Round {{ roundTabulation.round_i }}</th>
            <td>{{ roundTabulation.summary }}</td>
            <td class="cell-with-padding"><strong>{{ roundTabulation.primaryLabel }}</strong><br/>
                                                  {{ roundTabulation.secondaryLabel }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
</div>
</div>
