{% load static %}

{% for candidateTabulation in tabularByCandidate.tabulation %}
<div class="candidate-container" data-candidate-name="{{ candidateTabulation.name }}" data-is-winner="{{ candidateTabulation.isWinner|yesno:'true,false' }}">
    <h4 class="text-center"> {{ candidateTabulation.name }} </h4>
    <table class="shadow-wrapper table fixed-width-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Round</th>
            <th scope="col" style="max-width: 800px">What changed</th>
            <th scope="col">Current total votes</th>
        </tr>
    </thead>

    <tbody>
        {% for roundTabulation in candidateTabulation.rounds %}
        <tr>
            <th scope="row">Round {{ roundTabulation.round_i }}</th>
            <td>{{ roundTabulation.summary }}</td>
            <td><strong>{{ roundTabulation.primaryLabel }}</strong><br/>
                        {{ roundTabulation.secondaryLabel }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endfor %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    if (!config.onlyShowWinnersTabular) {
        return;
    }

    const candidateContainers = document.querySelectorAll('.candidate-container');
    candidateContainers.forEach(function(container) {
        console.log(container.getAttribute('data-is-winner'));
        if (container.getAttribute('data-is-winner') !== 'true') {
            container.style.display = 'none';
        }
    });
});
</script>
