{% load static %}

<script type="text/javascript">
{{ bargraphjs|safe }}

// For slider TODO sync with barchart-interactive.html
var numRounds = {{ tabularByRoundInteractive.rounds|length }};

function showRound(round) {
    for (i = 0; i < numRounds; i++) { 
      document.getElementById("tabular_round_container_"+i).style.display = "none";
    }
    document.getElementById("tabular_round_container_"+round).style.display = "block";
}

showRound(numRounds-1)

trs_createSliderAndTimeline({
  wrapperDivId: 'tabular-by-round-slider-container',
  numTicks: numRounds,
  tickText: generateTickTexts(numRounds),
  hideActiveTickText: doHideActiveTickText(numRounds),
  sliderValueChanged: showRound,
  timelineData: generateTimelineData(humanFriendlyEventsPerRound),
  timelinePeeking: !config.doUseDescriptionInsteadOfTimeline,
  timeBetweenStepsMs: getTimeBetweenAnimationStepsMs(numRounds) / 2 // hack: make this twice as fast as barchart
});

</script>
