{% extends "django_registration/base.html" %}

{% block regcontent %}

<h2>
{% block regtitle %}
  Account Registration
{% endblock %}
</h2>

{% include "registration/reg-optional-text.html" %}

<form action="." method="post">
  <table class="table">
  {% csrf_token %}
  {{ form.as_table }}
  </table>

  <div><small>By submitting this form, you will join our mailing list to receive important RCVis updates. You may unsubscribe at any time.</small></div>
  <input type="submit" value="Submit">
</form>
{% endblock %}
