body {
  color: #002c59;
  font-family: sans-serif;
  text-align: left;
  margin: 0px;
}
h1 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h6 {
  font-size: 0.8em;
}
#mainNav {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#mainNav .navbar-toggler {
  font-size: 0.8rem;
}

#mc_embed_signup form {
  margin-top: 10px;
  padding: 0px;
}

#mc_embed_signup input.email {
  width: 50%;
}
