body {
  color: #002c59;
  font-family: sans-serif;
  text-align: left;
  margin: 0px;
}
svg {
  shape-rendering: crispEdges;
  font-size: .45em;
  font-family: sans-serif;
}
h1 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h6 {
  font-size: 0.8em;
}

/* Styling the slider */
.slider {
  background-image:linear-gradient(170deg,#ffffff,#e7fcff);
}
.timeline {
  background-image:linear-gradient(170deg,#ffffff,#e7fcff);
}
.expand-collapse-button {
  background-image:linear-gradient(180deg,#f5feff,#ddf4f7);
}
