body {
  color: #002c59;
  font-family: sans-serif;
  text-align: left;
  margin: 0px;
}
svg {
  shape-rendering: crispEdges;
  font-size: .45em;
  font-family: sans-serif;
}
h1 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h6 {
  font-size: 0.8em;
}
.homedescriptor {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.fp-slidesNav {
  text-align: center;
}
.fp-prev {
  border-right-color: #e6e6e6 !important;
}
.fp-next {
  border-left-color: #e6e6e6 !important;
  right: 45px !important;
}
.vis-fixed {
  display: none;
}
.nav-link {
  border-radius: 0px;
}
.video-container {
  padding: 0px;
  height:80%;
  max-width: 700px; /* 560 / 0.8: width of video over % width */
  max-height: 315px;
  margin-left: auto;
  margin-right: auto;
}

.video-container iframe {
  top:0;
  left:0;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}
@media only screen and (max-width: 868px) {
  /* For mobile phones: */
  .page-section-heading {
      font-size: 1.4em;
  }
  .fp-prev {
    left: 5px !important;
    border-width: 20px 15px 20px 0 !important;
  }
  .fp-next {
    right: 5px !important;
    border-width: 20px 0 20px 20px !important;
  }
  .homedescriptor {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .btn {
    font-size: 0.8rem;
  }
}
@media only screen and (max-height: 400px) {
  .img-fluid {
    max-width: 250px;
  }
}
