.homedescriptor {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 200px;
}
.video-container {
  text-align: center;
}

.video-container iframe {
  width: 560px;
  height: 315px;
}

.resourceCell {
  box-shadow: 1px -3px 15px 2px #dedede;
  padding: 15px;
  margin: 15px;
}
.resourceCellImage {
  width: 80%;
  max-width: 300px;
}
.visColumn {
  min-width: 325px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.descriptors {
  min-width: 250px;
  max-width: 600px;
  font-size: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;
}
.subheader {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8em;
}
#mainNav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media only screen and (max-width: 868px) {
  /* For mobile phones and tablets: */
  body {
    font-size: 0.8em;
  }
  .page-section-heading {
      font-size: 1.3em;
  }
  .lead {
    font-size: 1.0em;
  }
  .homedescriptor {
    padding-bottom: 15px;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .btn {
    font-size: 0.7em;
  }
  .subheader {
    font-size: 0.6em;
  }
  .video-container iframe {
    width: 280px;
    height: 157px;
  }

}
@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .descriptors p {
    margin-bottom: 0.5em;
  }
  .homedescriptor {
    padding-left: 20px;
    padding-right: 20px;
  }
}
