.homedescriptor {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.fp-slidesNav {
  text-align: center;
}
.fp-prev {
  border-right-color: #e6e6e6 !important;
}
.fp-next {
  border-left-color: #e6e6e6 !important;
  right: 45px !important;
}

.video-container {
  text-align: center;
}

.video-container iframe {
  width: 560px;
  height: 315px;
}

.descriptors {
  min-width: 250px;
  max-width: 600px;
  width: 50%;
}
.subheader {
  margin-top: 0px;
  margin-bottom: 0px;
}
.slider-header {
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 100px;
}
.slider-footer {
}
#mainNav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.img-slider {
  box-shadow: 1px -3px 15px 2px #dedede;
  padding: 5px;
}

@media only screen and (max-width: 868px) {
  /* For mobile phones and tablets: */
  .img-slider {
    max-width: 400px;
  }
  body {
    font-size: 0.8em;
  }
  .page-section-heading {
      font-size: 1.3em;
  }
  .lead {
    font-size: 1.0em;
  }
  .fp-prev {
    left: 5px !important;
    border-width: 20px 15px 20px 0 !important;
  }
  .fp-next {
    right: 5px !important;
    border-width: 20px 0 20px 20px !important;
  }
  .homedescriptor {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .btn {
    font-size: 0.7em;
  }
  .subheader {
    font-size: 0.6em;
  }
  .divider-custom {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .divider-custom-icon {
    font-size: 1.4em !important;
  }
  .video-container iframe {
    width: 280px;
    height: 157px;
  }

}
@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .img-slider {
    max-width: 225px;
  }
  .slider-header {
    margin-top: 5px;
  }
  .descriptors p {
    margin-bottom: 0.5em;
  }
  .homedescriptor {
    padding-left: 20px;
    padding-right: 20px;
  }
  #fp-nav {
   right: 5px !important;
  }
}
