.round-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-player-wrapper,
.round-steps-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.round-player-wrapper {
  width: 100%;
  justify-content: space-between;
  max-width: 750px;
  height: 35px;
}

.round-steps-wrapper {
  flex-wrap: wrap;
}

.round-player-step-btn {
  border-color: #636161;
  border-width: 1px;
  color: #636161;
  margin: 8px;
  font-size: 16px;
  min-width: 32px;
  padding: 0 4px;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.round-player-step-btn.round-player-active {
  font-weight: bold;
  border-width: 3px;
}

.round-player-play-btn {
  background-color: #1922da;
  font-weight: bold;
  color: #fff;
  padding: 2px 10px;
  font-size: 16px;
}
.round-player-play-btn:hover {
  color: #fff;
}

.round-player-play-btn-initial {
  width: 100% !important;
}

.range-player-nav-initial {
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  text-wrap-mode: nowrap;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 1;
}

@media screen and (min-width: 750px) {
  .round-player-play-btn {
    min-width: 160px;
    width: 160px;
  }
}

.range-player-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  color: #1922da;
  font-size: 16px;
  padding: 4px 8px;
  min-width: 132px;
}

.range-player-nav.range-player-prev,
.range-player-nav.range-player-prev svg {
  margin-right: 8px;
  flex-direction: row-reverse;
}

.range-player-nav.range-player-next,
.range-player-nav.range-player-next svg {
  margin-left: 8px;
}

.range-player-nav svg {
  scale: 50%;
  width: 24px;
}

.range-player-nav.range-player-prev svg {
  transform: rotate(180deg);
}

.range-player-hidden {
  visibility: hidden;
}

@media screen and (max-width: 450px) {
  .round-player-step-btn {
    margin: 4px;
    font-size: 10px;
    min-width: 16px;
    padding: 0 2px;
    border-radius: 4px;
  }
  .range-player-nav {
    font-size: 12px;
    padding: 2px 4px;
    min-width: 50px;
  }
  .round-player-container {
    margin-bottom: 0px;
  }
  .round-player-wrapper {
    margin-bottom: 4px;
  }
  .round-steps-wrapper {
    margin-bottom: 0px;
  }
  .round-player-play-btn {
    font-size: 10px;
  }
}
