.nav-link {
  border-radius: 0px;
}

.vis-wrapper {
  /* initially everything is hidden, js will enable */
  display: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.vis-fixed {
  display: none;
}
.tooltip-inner {
  /* Don't let the tooltip clash with the label text */
  background-color: #333;
  color: #ccc;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

@media only screen and (max-width: 1100px) {
  /* first reduce font size */
  .btn {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 868px) {
  /* then reduce again text */
  .btn {
    font-size: 0.7rem;
    padding: 0.4rem;
  }
}
@media only screen and (max-width: 750px) {
  /* then hide text */
  .tabtext {
    display: none;
  }
  a.active .tabtext {
    display: block;
  }
}
