.nav-link {
  border-radius: 0px;
}

.vis-wrapper {
  /* initially everything is hidden, js will enable */
  display: none;
}

.vis-fixed {
  display: none;
}
.tooltip-inner {
  /* Don't let the tooltip clash with the label text */
  background-color: #333;
  color: #ccc;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.nav-tabs {
  flex-wrap: nowrap; /* don't let the navbar take multiple lines */
  border-bottom: none;
}

.tabtext {
  vertical-align: center;
}

.electiontitleheading {
  border-left: 3px solid black;
  padding-left: 4px;
}

.nav-item {
  flex-wrap: wrap;
  color: #000;
  font-size: 12px;
  margin-left: 5px;
}

.selected-nav {
  border-bottom: 1px solid white;
}

.tabswitchnavbar {
  flex-direction: row;
}

.shadow-wrapper {
  box-shadow: 1px 1px 10px 0 #dedede;
  margin: 10px auto 10px auto;
}

svg {
  shape-rendering: crispEdges;
  font-family: sans-serif;
}

/* Styling the slider */
.slider {
  background-image:linear-gradient(170deg,#ffffff,#e7fcff);
}
.timeline {
  background-image:linear-gradient(170deg,#ffffff,#e7fcff);
}
.expand-collapse-button {
  background-image:linear-gradient(180deg,#f5feff,#ddf4f7);
}
.timeline-info {
  max-width: 400px;
}
.embedded-footer {
  background: linear-gradient(0deg, aliceblue, transparent);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

#embedded-body {
  margin-left: 10px;
  margin-right: 10px;

  height: 100vh;
  margin: 0;
}
#embedded-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#embedded-content {
  flex: 1;
  overflow: auto;
}
#embedded-footer {
  width: 100%;
  background-color: #4747ff;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: center;
}
#embedded-footer a {
  color: white;
}

.btn {
    font-size: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  /* first reduce font size */
  .btn {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 1024px) {
  /* then hide text */
  .tabtext {
    display: none;
  }
  a.active .tabtext {
    display: block;
  }
}
