body {
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

#movieRoundNum {
  font-size: 45px;
  width: calc(100% - 360px); /* logo width * 2 */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#caption {
  font-size: 25px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
}

#logo {
  position: absolute;
  left: 20px;
  top: 5px;
}
