{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
{% include "visualizer/common-header.html" %}

{% block header %}
{% endblock %}

</head>

<body id="page-top">
{% block beforeFullpage %}
{% endblock %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img src="{% static 'visualizer/logo-white.png' %}" width="120" alt="RCVis logo" id="logo" /></a>
{% block navlinks %}
{% endblock %}
    </div>
  </nav>

<div id="fullpage">
{% block maincontent %}
{% endblock %}
  <!-- Footer -->
 <div class="section fp-auto-height">
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Collaborations</h4>
          <p class="lead mb-0">Want to use our visualizer for your election, poll, or infographic? The easiest way is to get in touch: <a class="link-on-blue" href="mailto:team@rcvis.com">team@RCVis.com</a>.</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Online</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/artoonie/rcvis">
            <i class="fab fa-fw fa-github"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/artoonie/rcvis/projects/1">
            <i class="fas fa-bug"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://medium.com/@armin.samii/an-illustrated-guide-to-ranked-choice-voting-4ce3c5fe73f9">
            <i class="fab fa-fw fa-medium"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="mailto:team@rcvis.com">
            <i class="fas fa-at"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About</h4>
          <p class="lead mb-0">RCVis is <a class="link-on-blue"  href="https://github.com/artoonie/rcvis">open-source</a> Ranked-Choice Voting Visualization software.
          It supports data from Rankit.Vote, ElectionBuddy, Opavote, and RCTab via the <a class="link-on-blue" href="https://github.com/artoonie/rcvformats">RCVFormats</a> library.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Armin Samii 2021</small>
    </div>
  </section>
 </div>
</div>

{% block afterFullpage %}
{% endblock %}

</body>

</html>
