{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
{% include "visualizer/common-header.html" %}

{% block header %}
{% endblock %}

</head>

<body id="page-top" class="{% block bodyclass %}{% endblock %}">
  <a class="skip-link" href="#maincontent">Skip to main content</a>
  <!-- Site header / navigation -->
  <header class="site-header" id="mainNav">
    <nav class="navbar container" aria-label="Main navigation">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'visualizer/logo-dark.png' %}" width="120" height="28" alt="RCVis logo" id="logo" /></a>
{% block navlinks %}
{% endblock %}
    </nav>
  </header>

<main id="maincontent" tabindex="-1">
{% block maincontent %}
{% endblock %}
</main>

  <!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="site-footer-grid">
        <div>
          <h2>About RCVis</h2>
          <p>RCVis is open-source Ranked-Choice Voting Visualization software.</p>
          <p>Let's collaborate! To use these visualizations for your election, poll, or infographic, please get in touch: <a href="mailto:team@rcvis.com">team@rcvis.com</a>.</p>
        </div>
        <div>
          <h2>Stay in touch</h2>
          <ul class="site-footer-links">
            <li>
              <a href="{% url 'updates' %}">Recent updates</a>
            </li>
            <li>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwMw6xYNyxbZiEtuB0G9F7avQhkLY_jmlXjNOBPA01qR4y3g/viewform?usp=sf_link" target="_blank" rel="noopener">Send feedback</a>
            </li>
            <li>
              <a href="https://twitter.com/rcvisdotcom"><img src="{% static 'visualizer/icon_twitter.svg' %}" alt="" width="16" height="16">Follow us on Twitter</a>
            </li>
            <li>
              <a href="https://github.com/artoonie/rcvis"><img src="{% static 'visualizer/icon_github.svg' %}" alt="" width="16" height="16">Source code on GitHub</a>
            </li>
            <li>
              <a href="mailto:team@rcvis.com"><img src="{% static 'visualizer/icon_email.svg' %}" alt="" width="16" height="16">team@rcvis.com</a>
            </li>
          </ul>
        </div>
        <div>
          <h2>Newsletter</h2>
          <p>Occasional updates about new features and elections.</p>
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://rcvis.us20.list-manage.com/subscribe/post?u=ef3745fe023451adbc1053eb9&amp;id=35fe134379" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL" class="sr-only" style="position:absolute;left:-5000px" aria-hidden="true">Email address</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ef3745fe023451adbc1053eb9_35fe134379" tabindex="-1" value=""></div>
      <input type="submit" value="Join our mailing list" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
        </div>
      </div>

      <div class="site-footer-bottom">
        <p>Copyright &copy; {% now "Y" %} RCVis. Free, open-source, and nonpartisan.</p>
        <p>Thank you to <a href="https://github.com/artoonie/rcvis/graphs/contributors">our contributors</a>.</p>
      </div>
    </div>
  </footer>

{% include "visualizer/common-nonblocking.html" %}
{% block afterMaincontent %}
{% endblock %}

</body>

</html>
