{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
{% include "visualizer/common-header.html" %}

{% block header %}
{% endblock %}

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img src="{% static 'visualizer/logo-white.png' %}" width="120" height="28" alt="RCVis logo" id="logo" /></a>
{% block navlinks %}
{% endblock %}
    </div>
  </nav>

<div id="maincontent">
{% block maincontent %}
{% endblock %}
  <!-- Footer -->
 <div>
  <footer class="footer">
    <div class="container">
      <h5 class="mb-2">About RCVis</h5>
      <p class="mb-0">RCVis is open-source Ranked-Choice Voting Visualization software.
      <p class="mb-0">Let's Collaborate! To use these visualizations for your election, poll, or infographic,<br/>
                      please get in touch: team@rcvis.com.</p>
      <p class="mb-0">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwMw6xYNyxbZiEtuB0G9F7avQhkLY_jmlXjNOBPA01qR4y3g/viewform?usp=sf_link" target="_blank">Send feedback</a> or 
        <a href="https://twitter.com/rcvisdotcom">follow us on Twitter</a>
      </p>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://rcvis.us20.list-manage.com/subscribe/post?u=ef3745fe023451adbc1053eb9&amp;id=35fe134379" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ef3745fe023451adbc1053eb9_35fe134379" tabindex="-1" value=""></div>
      <input type="submit" value="Join our mailing list" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<!--End mc_embed_signup-->

      <p class="mt-3 mb-0">
        <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/artoonie/rcvis">
          <img src="{% static 'visualizer/icon_github.svg' %}" alt="Github icon" width="18" height="18">
        </a>
        <a class="btn btn-outline-dark btn-social mx-1" href="https://twitter.com/rcvisdotcom">
          <img src="{% static 'visualizer/icon_twitter.svg' %}" alt="Twitter icon" width="18" height="18">
        </a>
        <a class="btn btn-outline-dark btn-social mx-1" href="mailto:team@rcvis.com">
          <img src="{% static 'visualizer/icon_email.svg' %}" alt="Email icon" width="18" height="18">
        </a>
      </p>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>
          Copyright &copy; 2025 RCVis.
          Thank you to
          <a style="color: white; text-decoration: underline" href="https://github.com/artoonie/rcvis/graphs/contributors">our contributors</a>.</small>
    </div>
  </section>
 </div>
</div>

{% include "visualizer/common-nonblocking.html" %}
{% block afterMaincontent %}
{% endblock %}

</body>

</html>
