{% load static %}
{% load compress %}
{% load reverse %}

<!-- This needs to be the first bit of js loaded to get the correct configs throughout -->
<script>
  var getUrlParameter = function getUrlParameter(sParam)
  {
      // Courtesy of https://stackoverflow.com/a/21903119/1057105
      var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;
  
      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');
  
          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
      }
  };

  var config = {};

  // 1. Load from django (happens once on baking)
  config.rotateNames = {% if config.rotateNames %} true {% else %} false {% endif %};
  config.horizontalSankey = {% if config.horizontalSankey %} true {% else %} false {% endif %};
  config.onlyShowWinnersTabular = {% if config.onlyShowWinnersTabular %} true {% else %} false {% endif %};
  config.doUseDescriptionInsteadOfTimeline = {% if config.doUseDescriptionInsteadOfTimeline %} true {% else %} false {% endif %};
  config.doUseHorizontalBarGraph = {% if config.doUseHorizontalBarGraph %} true {% else %} false {% endif %};
  config.hideSankey = {% if config.hideSankey %} true {% else %} false {% endif %};
  config.showRoundNumbersOnSankey = {% if config.showRoundNumbersOnSankey %} true {% else %} false {% endif %};
  config.hideTabular = {% if config.hideTabular %} true {% else %} false {% endif %};
  config.doDimPrevRoundColors = {% if config.doDimPrevRoundColors %} true {% else %} false {% endif %};
  config.colorTheme = {{ config.colorTheme }};
  config.eliminationBarColor = {{ config.eliminationBarColor }};

  // 2. Load any overrides (not supported in Internet Explorer)
  let searchParams = new URLSearchParams(window.location.search);
  for (var key in config) {
    if (searchParams.has(key))
    {
      // We use hidden fields to make sure all checkboxes get sent over GET when updating settings.
      // There seems to be some protocol that claims the last one is the valid one...so grab the last.
      allValues = searchParams.getAll(key)
      lastValue = allValues[allValues.length - 1]
      if (key != 'colorTheme' && key != 'eliminationBarColor') {
        config[key] = lastValue == "on";
      } else {
        config[key] = lastValue;
      }
    }
  }

  // Data from python
  var humanFriendlyEventsPerRound = {{humanFriendlyEventsPerRound|safe}};
  var humanFriendlySummary = {{humanFriendlySummary|safe}};
  var candidateSidecarData = {{ candidateSidecarData|safe }};
</script>

<style>
  /* Want these to be invisible immediately, not wait for the nonblocking css to get to it */
  #visualize-header-deferred-visibility {
      opacity: 0.1;
  }
</style>

<title>{{ title }}: Ranked Choice Voting Visualization</title>
<meta name="description" content="{{title}} on RCVis: Ranked-Choice Voting visualizations: sankey, interactive bar charts, and tabular formats for displaying the results of RCV Elections">

<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="Ranked Choice Voting Election Results for {{ title }}" />
<meta property="og:site_name" content="rcvis" />
<meta property="og:url" content="{% get_reverse_as_complete_url 'visualize' config.slug %}" />

{% if config.movieHorizontal %}
<meta property="og:type" content="video.movie" />
<meta property="og:image" content="{% get_as_complete_url config.movieHorizontal.titleImage.url %}" />
<meta property="og:video" content="{% get_as_complete_url config.movieHorizontal.movieFile.url %}" />
<meta property="og:video:width" content="{{ config.movieHorizontal.width }}" />
<meta property="og:video:height" content="{{ config.movieHorizontal.height }}" />
{% else %}
<meta property="og:type" content="website">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'visualizer/favicons/android-chrome-256x256.png' %}">
{% endif %}

{% if config.owner.userprofile.isPrivate %}
<meta name="robots" content="noindex">
{% endif %}
