{% load static %}
{% load compress %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151309356-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-151309356-1');
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Ranked-Choice Voting visualizations: sankey, interactive bar charts, and tabular formats for displaying the results of RCV Elections">
<meta name="author" content="Armin Samii">

{% block title %}
    <title>Ranked-Choice Voting Visualization</title>
{% endblock %}

<link rel="shortcut icon" type="image/png" href="{% static 'visualizer/favicon.ico' %}"/>

{% compress css file %}
    <link href="{% static 'visualizer/freelancer.css' %}" rel="stylesheet">
{% endcompress %}
