<!-- Common to just pages that show visualizations  -->
{% load static %}
{% load compress %}

{% include "visualizer/common-nonblocking.html" %}

{% if offlineMode %}
    <script src="{% static 'localdeps/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'localdeps/d3.js' %}"></script>
    <script src="{% static 'localdeps/bootstrap.bundle.min.js' %}"></script>
{% else %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.min.js" integrity="sha256-xsGohpJpfIm6CIdoMHLMIRTore3sDR5poFt7CeUxjGI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-jXCJJT3KKcnNjZ3rfsabCj1EX4j2omR4xxm+H5CtywE=" crossorigin="anonymous"></script>
{% endif %}

{% compress css file %}
  <link rel="stylesheet" href="{% static '@artoonie/timeline-range-slider/timeline-range-slider/slider.css' %}">
  <link rel="stylesheet" href="{% static 'visualizer/visualize-common.css' %}">
  <link rel="stylesheet" href="{% static 'visualizer/round-player.css' %}">
  <link rel="stylesheet" href="{% static 'tabular/style.css' %}">
{% endcompress %}

<!-- Shared resources for multiple visualizations-->
{% compress js file %}
  <script src="{% static 'visualizer/visualize-common.js' %}" />
  <script src="{% static 'visualizer/round-player.js' %}"></script>
  <script src="{% static 'visualizer/colors.js' %}" />
  <script src="{% static '@artoonie/timeline-range-slider/timeline-range-slider/slider.js' %}"></script>
  <script src="{% static 'visualizer/visualize-nonblocking.js' %}"/>
{% endcompress %}

<script type="text/javascript">
    const colorThemeGenerator = getColorGenerator(config.colorTheme);
    const colorsPerRound = Array.from(colorThemeGenerator({{ tabularByRoundInteractive.rounds|length }}));
</script>

