<!-- Common to all pages, visualizer and otherwise -->
{% load compress %}
{% load static %}

{% if offlineMode %}
{% compress css file %}
    <link href="{% static 'visualizer/fontawesome/css/all.min.css' %}" rel="stylesheet">
{% endcompress %}
{% else %}
    <!-- Custom fonts for this theme -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
{% endif %}

{% compress css file %}
    <link rel="stylesheet" href="{% static "visualizer/common.css" %}">
{% endcompress %}
