{% extends "visualizer/base.html" %}

{% load compress %}
{% load static %}

{% block header %}
<title>Create a visualization of Ranked Choice Voting results</title>
<meta name="description" content="Create a visualization of a Ranked-Choice Voting election. Input the round-by-round results to generate a bargraph, sankey diagram, tables, and more.">

{% compress css file %}
{% endcompress %}
<!--TODO -->
<link rel="stylesheet" href="{% static "visualizer/createFromTable.css" %}">

{% endblock %}

{% block navlinks %}
{% endblock %}

{% block beforeMaincontent %}
  <form action="." enctype="multipart/form-data" method="post" id="form">
 {% csrf_token %}
{% endblock %}

{% block maincontent %}
    <div class="container mt-3">
        <h1>Create a New Visualization from Existing Data</h1>
        <p>Enter the results from a Ranked-Choice Voting election here to create a visualization.</p>
        <p><strong>This is not the recommended way of getting results onto RCVis.</strong> We recommend you <a href="{% url 'upload' %}">upload computer-generated JSON data</a> to reduce the possibility of transcription errors.  </p>
    </div>

    <div class="container mt-3">
        <table>
        {{ form.as_table }}
        </table>

        <div class="dynamicTableContainer">
          <table class="mt-3">
              <tr>
                  <th>Candidate Name</th>
                  <th>Round 1</th>
                  <th>Round 2</th>
                  <th>Round 3</th>
                  <td>+ Add Round</td>
              </tr>
              <tr>
                  <td><input type="text"/></td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
              </tr>
              <tr>
                  <td><input type="text"/></td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
              </tr>
              <tr>
                  <td><input type="text"/></td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
                  <td>
                      <input type="number"/>
                      <br/>
                      <button type="button" name="Mark elected this round">✅</button>
                      <button type="button" name="Mark eliminated this round">❌</button>
                  </td>
              </tr>
              <tr>
                  <td>+ Add Candidate</td>
              </tr>
          </table>
        </div>
    </div>
{% endblock %}

{% block afterMaincontent %}
  </form>
{% endblock %}
