{% extends "visualizer/base.html" %}

{% block header %}
<title>Ranked Choice Voting Visualization - Failed Upload</title>
{% endblock %}

{% block navlinks %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-0 mx-lg-1">
      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'upload' %}">Back to Upload</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block maincontent %}
<div class="container mt-5">
<h4>Cannot parse that JSON or CSV file!</h4><br/>
<p>Did it come from opavote, RCTab, or ElectionBuddy? If so, please contact us with the JSON or CSV and how you obtained it, and we will try to figure this out together:</p>
<p> Make an issue on <a href="https://github.com/artoonie/rcvis/projects/1">Github Issues</a></p>
<p> Email: <a href="mailto:team@rcvis.com">team@rcvis.com</a></p>

<h3>Errors:</h3>
{{ formErrorList }}
</div>
{% endblock %}
