{% extends "visualizer/base.html" %}
{% load static %}

{% block header %}
  <script>
      fullpageOptions.anchors = ['#top-of-page', '#intro-section', '#whatis-section', '#types-section', '#examples-section', '#external-section', '#bottom-of-page'];
  </script>
{% endblock %}

{% block navlinks %}
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#examples">Sample Elections</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#types">Visualization Types</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/upload.html">Upload</a>
</li>
{% endblock %}

{% block maincontent %}
  <!-- Masthead -->
  <div class="section homedescriptor" id="intro">
      <p><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ranked Choice Voting ballots are <a href="https://www.fairvote.org/ranking_is_easy_a_response_to_misleading_claims_about_voter_errors">easy to fill out</a>.</h2></p>
      <p><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">RCVIS makes the results easy to understand, too.</h2></p>

      <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <p class="masthead-subheading font-weight-light">Charts, graphs, and tables to help your audience understand the results of a Ranked Choice Voting election. Export to Wikipedia, embed with HTML, or share to social media.</p>

      <img class="img-fluid" src="{% static 'visualizer/rcvis-summary.png' %}" alt="">
  </div>

  <div class="section homedescriptor" id="whatis">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">What is Ranked Choice Voting?</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <p class="lead">With Ranked Choice Voting, you can rank your candidates in your order of preference. If your top pick loses with the fewest votes, your vote isn't wasted: that candidate is eliminated and your vote is <i>transferred</i> to your next choice.</p>
      <p>Learn more on our <a href="https://medium.com/@armin.samii/an-illustrated-guide-to-ranked-choice-voting-4ce3c5fe73f9">medium post: An Illustrated Guide to Ranked Choice Voting</a>.</p>

      <div class="text-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/gq7N2hmX9FI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>

  <div class="section fp-auto-height homedescriptor" id="types">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Types of Visualizations</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="slide text-center">
        <h5>Bar Charts</h5>
        <img class="img-fluid" src="{% static 'visualizer/icon_interactivebar.gif' %}" alt="">
      </div>
      <div class="slide text-center">
        <h5>Sankey Diagrams</h5>
        <img class="img-fluid" src="{% static 'visualizer/icon_sankey.jpg' %}" alt="">
      </div>
      <div class="slide text-center">
        <h5>Round-by-Round</h5>
        <img class="img-fluid" src="{% static 'visualizer/icon_interactiveroundbyround.gif' %}" alt="">
      </div>
      <div class="slide text-center">
        <h5>Single Table Summary</h5>
        <img class="img-fluid" src="{% static 'visualizer/icon_singletable.png' %}" alt="">
      </div>
  </div>

  <div class="section fp-auto-height homedescriptor" id="examples">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase">Live Examples</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
        <div class="col-md-6 ml-auto mb-3">
          <p class="lead mb-0 mt-0">Utah County 2019 Elections</p>
          <p class="mb-0 mt-0">Used during the election cycle by <a class="btn-outline-dark" href="http://www.utahcounty.gov/Dept/ClerkAud/Elections/ElectResults.html">utahcounty.gov</a></p>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/payson-2019-11-12_13-46-26_summary_1json">2019 Payson City Council Seat 1</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/payson-2019-11-12_13-46-26_summary_2json">2019 Payson City Council Seat 2</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/payson-2019-11-12_13-46-26_summary_3json">2019 Payson City Council Seat 3</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/vineyard-2019-11-12_13-49-22_summary_1json">2019 Vineyard City Council Seat 1</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/vineyard-2019-11-12_13-49-22_summary_2json">2019 Vineyard City Council Seat 2</a>
        </div>
        <div class="col-md-6 mr-auto">
          <p class="lead mb-0 mt-0">Sample Elections</p>
          <p class="mb-0 mt-0">Using sample data for demonstration purposes</p>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/2015_portland_mayorjson">2019 City of Eastpointe (multi-winner)</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/opavote2json">2019 FairVote Primary Poll</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/2018_maine_gov_primary_demjson">2018 Maine Gubernatorial Primary</a>
          <br/><a class="btn btn-m btn-outline-dark mb-3" href="/v/2015_portland_mayorjson">2015 Portland Mayoral Race</a>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <div class="section fp-auto-height homedescriptor" id="external">
      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">More Resources</h2>

      RCVIS focuses on just visualizations. For other resources, here are some tools and organizations to look into:

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="slide text-center">
        <h5>Create an RCV poll</h5>
        <a href="https://www.rankit.vote"><img class="img-fluid" src="{% static 'visualizer/resource_rankit.gif' %}" width="300px"></a>
      </div>
      <div class="slide text-center">
        <h5>Advocacy</h5>
        <a href="https://www.fairvote.org"><img class="img-fluid" src="{% static 'visualizer/resource_fairvote.png' %}" width="300px"></a>
      </div>
      <div class="slide text-center">
        <h5>Vote Tabulation</h5>
        <a href="https://www.rankedchoicevoting.org/universal_rcv_tabulator"><img class="img-fluid" src="{% static 'visualizer/resource_tabulator.png' %}" width="300px"></a>
      </div>
      <div class="slide text-center">
        <h5>Implementation</h5>
        <a href="https://www.rankedchoicevoting.org"><img class="img-fluid" src="{% static 'visualizer/resource_rcvrc.png' %}" width="300px"></a>
      </div>
  </div>
{% endblock %}

{% block afterFullpage %}
    {% include "visualizer/common-visualizer-nonblocking.html" %}
{% endblock %}
