{% extends "visualizer/base.html" %}
{% load static %}
{% load compress %}

{% block header %}
  {% compress css file %}
    <link rel="stylesheet" href="{% static "visualizer/index.css" %}">
  {% endcompress %}

  <title>Ranked Choice Voting Visualizations</title>
  <meta name="description" content="Ranked-Choice Voting visualizations: interactive charts, graphs, tables, and wikipedia exports for displaying the results of RCV Elections">
{% endblock %}

{% block navlinks %}
<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  Menu
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-0 mx-lg-1">
      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#types">DataViz Types</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#examples">Real-World Examples</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/upload.html">Create A Visualization</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block maincontent %}
  <!-- Masthead -->
  <div class="homedescriptor" id="intro">
      <p><h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ranked Choice Voting ballots are <a href="https://www.fairvote.org/ranking_is_easy_a_response_to_misleading_claims_about_voter_errors">easy to fill out</a>.</h1></p>
      <p><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">RCVis makes the results easy to understand, too.</h2></p>

      <p class="masthead-subheading font-weight-light text-center">Charts, graphs, and tables to help your audience understand the results of a Ranked Choice Voting election. Export to Wikipedia, embed with HTML, or share to social media.</p>

      <p class="text-center">
        <picture class="img-fluid">
          <source media="(max-width: 450px)" srcset="{% static 'visualizer/summary-400px-phone.png' %}">
          <source media="(max-width: 850px)" srcset="{% static 'visualizer/summary-800px-tablet.png' %}">
          <img class="img-fluid"             src="{% static 'visualizer/summary-1200px-desktop.png' %}"
               alt="Example images of a barchart, sankey diagram, single table summary, and wikipedia export">
        </picture>
      </p>
  </div>

  <div class="homedescriptor" id="whatis">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">What is Ranked Choice Voting?</h2>

      <!-- Portfolio Grid Items -->
      <p class="lead text-center">RCV elections are just like a standard "first-past-the-post" election, except you can have backup choices. If your top pick gets the fewest votes, they are eliminated and your vote is <i>transferred</i> to your next choice.</p>
      <p class="text-center">Learn more on our <a href="https://medium.com/@armin.samii/an-illustrated-guide-to-ranked-choice-voting-4ce3c5fe73f9">medium post: An Illustrated Guide to Ranked Choice Voting</a>.</p>

      <div class="video-container"><iframe id="youtube-iframe" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" loading="lazy" allowfullscreen></iframe></div>
  </div>

  <div class="homedescriptor" id="types">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase">Types of Visualizations</h2>

      <div class="container text-center">
        <div class="row">
          <div class="col resourceCell">
            <h5>Bar Charts</h5>
            <img class="resourceCellImage" data-src="{% static 'visualizer/icon_interactivebar.gif' %}" alt="Demo of interactive barchart" loading="lazy">
            <div class="row justify-content-center">
              <div class="descriptors">
                The interactive bar chart shows how each round of the election progresses. The number of votes each candidate receives is represented by the size of the bar. As you progress between rounds, the bars grow and shrink to show the change in number of votes that each candidate is receiving.

                The colors represent how many votes were gained in each round: for example, the yellow part of the bar shows the votes that were received in the first round.

                The colors are perceptually linear, making them colorblind-friendly for all forms of colorblindness, including monochromacy (completely colorblind).
              </div>
            </div>
          </div>
          <div class="col resourceCell">
            <h5>Sankey Diagrams</h5>
            <img class="resourceCellImage" data-src="{% static 'visualizer/icon_sankey.jpg' %}" alt="Demo of sankey diagram" loading="lazy">
            <div class="row justify-content-center">
              <div class="descriptors">
                The sankey diagram shows how the votes flow from one candidate to another as each round progresses. This visualization is best for displaying how the eventual winner received their votes. By exploring where the votes flowed from, you can see candidates who were similar and those who were not.
                In this example, you can see that Strawberry and Blackberry were most similar, and when Strawberry was eliminated, most of its votes went to Blackberry. That makes sense, given they are both berries. A real-world example might have a certain political party in place of berries.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col resourceCell">
            <h5>Round-by-Round</h5>
            <img class="resourceCellImage" data-src="{% static 'visualizer/icon_interactiveroundbyround.gif' %}" alt="Demo of round-by-round summary" loading="lazy">
            <div class="row justify-content-center">
              <div class="descriptors">
                There are several tabular formats, allowing you to inspect precisely what happened based on what you care about. The tabular-by-round format allows you to inspect the state of votes on a specific round. The tabular-by-candidate format (not shown here) allows you to dive into the number of votes a certain candidate had on each round.
              </div>
            </div>
          </div>
          <div class="col resourceCell">
            <h5>Single Table Summary</h5>
            <img class="resourceCellImage" data-src="{% static 'visualizer/icon_singletable.png' %}" alt="Demo of single table summary" loading="lazy">
            <div class="row justify-content-center">
              <div class="descriptors">
                The single table summary is a quick, noninteractive view that combines both the tabular-by-round and the tabular-by-candidate views. It gives a quick, at-a-glance summary of each round.
                This table can also be exported to Wikipedia with several Wikicode features, including sorting each round by who had the most votes in that round, and including both percentage of votes and number of votes.
                While all interactive formats have a noninteractive, print-friendly version, this single table summary is particularly well-suited for print where graphics may be expensive.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="homedescriptor" id="examples">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase">Real-World Data</h2>

      <div class="container">
        <div class="row">
          {% for column in featuredElections %}
            <div class="col visColumn">
              <p class="mb-0 mt-0">{{ column.title }}</p>
              {% for model in column.links %}
                <li><strong><a href="{% url 'visualize' model.slug %}">{{ model.title }}</a></strong></li>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <div class="homedescriptor" id="latest">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase">Newest Data</h2>

      <!-- Portfolio Grid Items -->
      <div class="row justify-content-center">
        <div class="ml-auto mr-auto">
          <p class="mb-0 mt-0">Most recent visualizations created by our users</p>
          <ul>
          {% for model in mostRecent %}
            <li><strong><a href="{% url 'visualize' model.slug %}">{{ model.title }}</a></strong> ({{ model.numCandidates}} candidates, {{ model.numRounds }} rounds)</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="homedescriptor" id="external">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase">More Resources</h2>

      <div class="container text-center">
        <div class="row">
          <div class="col resourceCell">
            <h5>RankIt Online RCV Polls</h5>
            <a href="https://www.rankit.vote">
              <img class="resourceCellImage" data-src="{% static 'visualizer/resource_rankit.svg' %}" width="300px" alt="Rankit.vote icon" loading="lazy">
              <br/>
              rankit.vote
            </a>
            <div class="descriptors">
              RankIt is FairVote's RCV online polling tool. You can use it to elect a leader in your local student organization, or just ask your friends which movie they'd like to watch next.
            </div>
          </div>
          <div class="col resourceCell">
            <h5>RankedVote Online RCV Polls</h5>
            <a href="https://www.rankedvote.co">
              <img class="resourceCellImage" data-src="{% static 'visualizer/resource_rankedvote.png' %}" width="300px" alt="RankedVote.co icon" loading="lazy">
              <br/>
              rankedvote.co
            </a>
            <div class="descriptors">
              RankedVote is a feature-packed RCV polling tool. The free version allows basic RCV elections and polls, and optional upgrades allow you to run advanced elections with features such as voter registration, voter lists, and duplicate voter detection.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col resourceCell">
            <h5>Advocate for RCV</h5>
            <a href="https://www.fairvote.org">
              <img class="resourceCellImage" data-src="{% static 'visualizer/resource_fairvote.png' %}" width="300px" alt="Fairvote icon" loading="lazy">
              <br/>
              fairvote.org
            </a>
            <div class="descriptors">
              FairVote is a champion of electoral reform. including adovcating for Instant Runoff Voting (IRV, i.e. single-winner RCV) and Single Transferrable Vote (STV, i.e. multi-member RCV). Their gold standard is the Fair Representation Act, which would enact proportional representation in the US.
            </div>
          </div>
          <div class="col resourceCell">
            <h5>Implement RCV</h5>
            <a href="https://www.rcvresources.org/">
              <img class="resourceCellImage" data-src="{% static 'visualizer/resource_rcvrc.png' %}" width="300px" alt="RCV Resource Center icon" loading="lazy">
              <br/>
              rcvresources.org
            </a>
            <div class="descriptors">
              The RCV Resource Center provides resources and guidance for implementing RCV to everyone, from jurisdictions to individual voters. They played a major role in guiding the development of RCVis.
            </div>
          </div>
          <div class="col resourceCell">
            <h5>Tabulate an RCV election</h5>
            <a href="https://www.rcvresources.org/rctab">
              <img class="resourceCellImage" data-src="{% static 'visualizer/resource_tabulator.png' %}" width="300px" alt="RCTab icon" loading="lazy">
              <br/>
              rcvresources.org/rctab
            </a>
            <div class="descriptors">
              RCTab is a tested and certified software package many RCV tabulation rules implemented. It parses Cast Vote Record files and creates results summary files which RCVis can then visualize.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="homedescriptor" id="lookingfor">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase">Future Development</h2>

      <div class="container">
        <div class="row">
            <p>
                RCVis is free, open-source, and nonpartisan.
                These are our top projects.
                If you'd like to help fund the development of RCVis, or volunteer your time as a developer, please get in touch: <a href="mailto:team@rcvis.com">team@rcvis.com</a>.
            </p>
            <ol>
                <li>
                    <strong>Accessibility</strong>:
                    RCVis is not screenreader-friendly, though we have an undocumented audio captions for each visualization.
                    We'd like to make these audio captions widely available, as well as making all RCVis visualizations screenreader-friendly.
                </li>
                <li>
                    <strong>ES&S Data</strong>:
                    We'd like to be able to upload and visualize data from Election Systems & Software voting machines.
                </li>
                <li>
                    <strong>Infrastructure Updates</strong>:
                    We'd like to use enable autoscaling to better support the influx of users and uploads on election night, as well as other infrastructure
                    updates for stability and speed.
                </li>
            </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block afterMaincontent %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      // Load youtube after page finishes loading
      function loadYoutubeDeferred() {
        let youtubeVideo = document.getElementById('youtube-iframe');
        if (!youtubeVideo.hasAttribute('src')) {
          youtubeVideo.setAttribute('src', 'https://www.youtube.com/embed/gq7N2hmX9FI');
        }
      }
      // Load images after page finished loading
      function loadImagesDeferred() {
        const images = document.getElementsByClassName('resourceCellImage');
        for (var i = 0; i < images.length; ++i) {
          const dataSrc = images[i].getAttribute('data-src');
          if (dataSrc) {
            images[i].setAttribute('src', dataSrc);
          }
        }
      }

    $(document).ready(loadYoutubeDeferred)
    $(document).ready(loadImagesDeferred)
    </script>
{% endblock %}
