{% load static %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ranked Choice Voting Visualization</title>
{% if offlineMode %}
<script src="{% static 'localdeps/d3.js' %}"></script>
<link rel="stylesheet" href="{% static 'localdeps/bootstrap.min.css' %}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% else %}
<!-- for online use -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'visualizer/uploadpage.css' %}">
</head>

<script>
function handleFiles(files)
{
  document.getElementById("selectFileButton").innerHTML = files[0].name
}
</script>

{% block content %}
  <div class="row d-flex justify-content-center">
  <div class=".col-s-2 col-md-7 col-s-2">
  <div class="content">
  <form action="upload.html" enctype="multipart/form-data" method="post" id="form">
    {% csrf_token %}
 	<div class="formArea">
		<button class="collapsible">▶ Global visualization options</button>
		<div class="optionscontent">
			<p>
			<label><input type="checkbox" name="hideDecimals"/> Hide decimal places</label>
			<br/><small>By default, we'll show up to two decimal places.</small></label>
		<br/> <br/>
		<label><input type="checkbox" name="excludeFinalWinnerAndEliminatedCandidate" /> Exclude the final elected and eliminated candidate
			<br/><small>This is useful for in-progress elections to avoid bouncing back and forth</small></label>
			</p>
		</div>

		<button class="collapsible">▶ Bargraph visualization options</button>
		<div class="optionscontent">
			<p>
			<label><input type="checkbox" name="doHideOverflowAndEliminated"/> Hide overflow and eliminated votes</label>
		    <br/> <br/>
			<label><input type="checkbox" name="doUseHorizontalBarGraph"/> Make horizontal instead of vertical</label>
			</p>
		</div>

		<button class="collapsible">▶ Sankey visualization options</button>
		<div class="optionscontent">
			<p>
			<label><input type="checkbox" name="hideSankey"/> Hide the sankey altogether</label>
			</p>
			<p>
			<label><input type="checkbox" name="rotateNames" checked/> Rotate the names of candidates on the top bar</label>
			</p>
			<p>
			<label><input type="checkbox" name="horizontalSankey"/> Rotate the diagram to be horizontal instead of vertical (experimental)</label>
			</p>
		</div>


		<button class="collapsible">▶ Tabular visualization options</button>
		<div class="optionscontent">
			<p>
			<label><input type="checkbox" name="hideTabular"/> Hide both tabular formats altogether</label>
			</p>
			<p>
			<label><input type="checkbox" name="onlyShowWinnersTabular" checked/> Only show winners, hiding eliminated candidates</label>
			</p>
		</div>

        <br/>
		<div class="selectFileButtonWrapper">
			<button id="selectFileButton">Click to select a file</button>
			<input type="file" class="selectFileDefaultInput" name="rcvJson" accept="application/json"  onchange="handleFiles(this.files)"/>
		</div>
		<div id="submitDiv">
			<button type="submit" class="submitButton">Upload</button>
		</div>
	</div>
  </form>

  The visualizer accepts tabuled elections in JSON format from the <a href="https://www.rankedchoicevoting.org/universal_rcv_tabulator">Universal RCV Tabulator</a> and <a href="https://www.opavote.com/methods/ranked-choice-voting">Opavote's Online Voting</a>.
        <br/><br/>
    Some example elections: [<a href="/visualize=2018_maine_gov_primary_demjson">Maine 2018 Gubernatorial Primary</a>] [<a href="/visualize=2015_portland_mayorjson">Portland 2015 Mayoral Race</a>] [<a href="/visualize=opavote2json">FairVote's Primary Poll</a>] 

		<br/>
  </div>
  </div>
  </div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function(event) {
    event.preventDefault();
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      this.innerText = this.innerText.replace('▼', '▶');
      content.style.maxHeight = null;
    } else {
      this.innerText = this.innerText.replace('▶', '▼');
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}
