{% extends "visualizer/base.html" %}
{% load static %}
{% load compress %}

{% block header %}
  {% include "visualizer/common-visualizer-header.html" %}
  <link id="oembed"
        rel="alternate"
        type="application/json+oembed"
        href="{{ oembed_url }}"
        title="{{ title }}" />

  {% compress css file %}
      <link rel="stylesheet" href="{% static "visualizer/visualize-common.css" %}">
  {% endcompress %}

	<script type="application/ld+json">
		{
      "@context" : "http://schema.org",
      "@type" : "Dataset",
      "name" : "{{title}}",
      "description" : "RCVis is open-source Ranked-Choice Voting Visualization software",
      "temporalCoverage" : "{{ date }}",
      "license" : "open-source",
      "creator" : {
        "@type": "Organization",
        "name": "RCVis"
      }
		}
	</script>
{% endblock %} 

{% block navlinks %}
      <ul class="navbar-nav ml-auto tabswitchnavbar">
        <li class="nav-item">
            <a class="nav-link btn" id="barchart-tab" data-toggle="changeviz" href="#barchart" role="tab" aria-controls="barchart" aria-selected="true">
              <img class="tabicon" src="{% static 'visualizer/tabicons/barchart.png' %}" width="18" alt="Barchart icon"/>
              <span class="tabtext">Bar Chart</span>
            </a>
        </li>
        <li class="nav-item" name="li_hideable_sankey">
            <a class="nav-link btn" id="sankey-tab" data-toggle="changeviz" href="#sankey" role="tab" aria-controls="sankey" aria-selected="false">
              <img class="tabicon" src="{% static 'visualizer/tabicons/sankey.png' %}" width="18" alt="Sankey icon. 'sankey graph' by Product Pencil from the Noun Project."/>
              <span class="tabtext">Sankey</span>
            </a>
        </li>
        <li class="nav-item" name="li_hideable_tabular">
            <a class="nav-link btn" id="single-table-summary-tab" data-toggle="changeviz" href="#single-table-summary" role="tab" aria-controls="single-table-summary" aria-selected="false">
              <img class="tabicon" src="{% static 'visualizer/tabicons/singletable.png' %}" width="18" alt="Single Table Summary icon. 'formulae table with row and column cells' by icon 54 from the Noun Project."/>
              <span class="tabtext">Summary table</span>
            </a>
        </li>
        <li class="nav-item" name="li_hideable_tabular">
            <a class="nav-link btn" id="round-by-round-tab" data-toggle="changeviz" href="#round-by-round" role="tab" aria-controls=="round-by-round" aria-selected="false">
              <img class="tabicon" src="{% static 'visualizer/tabicons/roundbyround.png' %}" width="18" alt="Round-By-Round icon. 'move cells to another location for editing' by icon 54 from the Noun Project."/>
              <span class="tabtext">Tables by round</span>
            </a>
        </li>
        <li class="nav-item" name="li_hideable_tabular">
            <a class="nav-link btn" id="candidate-summary-tab" data-toggle="changeviz" href="#candidate-summary" role="tab" aria-controls="candidate-summary" aria-selected="false">
              <img class="tabicon" src="{% static 'visualizer/tabicons/candidatesummary.png' %}" width="18" alt="Candidate summary icon. 'data set' by H Alberto Gongora from the Noun Project."/>
              <span class="tabtext">Tables by candidate</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn" id="settings-tab" data-toggle="changeviz" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
              <img class="tabicon" src="{% static 'visualizer/tabicons/settings.png' %}" width="18" alt="Settings icon"/>
              <span class="tabtext">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn" id="share-tab" data-toggle="changeviz" href="#share" role="tab" aria-controls="share" aria-selected="false">
              <img class="tabicon" src="{% static 'visualizer/tabicons/share.png' %}" width="18" alt="Share icon"/>
              <span class="tabtext">Share</span>
            </a>
        </li>
      </ul>
{% endblock %}

{% block maincontent %}
<div class="fp-auto-height" id="visualize-header-deferred-visibility">
  <header class="masthead text-left pb-1 pt-1">
  <div class="container px-0">
      <h1 class="masthead-subheading font-weight-light electiontitleheading mt-1 mb-0 ml-3">{{ title }}</h1>
      <p class="font-weight-light mb-0 ml-3">{{ date }}</p>
      <h6 class="font-weight-light mb-1 ml-3">
        The results of a ranked-choice voting election.
        {% if config.dataSourceURL %}
        <a href="{{ config.dataSourceURL }}">Source</a>
        {% endif %}
      </h6>
  </div>
  </header>

  <div class="text-center px-0">
    <div class="container vis-wrapper" id="id-barchart" data-anchor="barchart" aria-labeledby="barchart-tab">
      <div class="vis-fixed">
          {% include "bargraph/barchart-fixed.html" %}
      </div>
      <div class="vis-interactive">
          {% include "bargraph/barchart-interactive.html" %}
      </div>
    </div>

    <div class="vis-wrapper" id="id-sankey" data-anchor="sankey" aria-labeledby="sankey-tab">
        {% include "sankey/sankey.html" %}
    </div>

    <div class="vis-wrapper" id="id-round-by-round" data-anchor="round-by-round" aria-labeledby="round-by-round-tab">
      <div class="vis-fixed">
          {% include "tabular/tabular-by-round.html" %}
      </div>
      <div class="vis-interactive">
          {% include "tabular/tabular-by-round-interactive.html" %}
      </div>
    </div>

    <div class="vis-wrapper" id="id-candidate-summary" data-anchor="candidate-summary" aria-labeledby="candidate-summary-tab">
        {% include "tabular/tabular-by-candidate.html" %}
    </div>

    <div class="vis-wrapper" id="id-single-table-summary" data-anchor="single-table-summary" aria-labeledby="single-table-summary-tab">
        {% include "tabular/tabular-candidate-by-round.html" %}
    </div>

    <div class="vis-wrapper" id="id-settings" data-anchor="settings" aria-labeledby="settings-tab">
        {% include "settings/settings-update.html" %}
    </div>

    <div class="vis-wrapper" id="id-share" data-anchor="share" role="tabpanel" aria-labelledby="share-tab">
        {% include "share/share.html" %}
    </div>

    <small id="toggle-dynamic" class="mt-0 text-muted">
      <a id="make-print-friendly" href="#" class="vis-interactive">Showing interactive content. Show print-friendly instead?</a>
      <a id="make-interactive" href="#" class="vis-fixed">Showing print-friendly content. Show interactive instead?</a>
    </small>
  </div>
</div>
{% endblock %}

{% block afterMaincontent %}
    {% include "visualizer/common-visualizer-nonblocking.html" %}
    {% include "sankey/sankey-nonblocking.html" %}
    {% include "bargraph/barchart-common-nonblocking.html" %}
    {% include "bargraph/barchart-fixed-nonblocking.html" %}
    {% include "bargraph/barchart-interactive-nonblocking.html" %}
    {% include "tabular/tabular-by-round-interactive-nonblocking.html" %}
    {% include "settings/settings-nonblocking.html" %}
    {% include "settings/settings-update-nonblocking.html" %}
    {% include "share/share-nonblocking.html" %}

  {% compress js file %}
    <script type="text/javascript" src="{% static 'visualizer/visualize-nonblocking.js' %}"/>
  {% endcompress %}
{% endblock %}
