{% extends "visualizer/base.html" %}
{% load static %}

{% block title %}<title>{{ title }} - Ranked Choice Voting Visualization</title>{% endblock %}

{% block header %}
  {% include "visualizer/common-visualizer-header.html" %}
  <link id="oembed"
        rel="alternate"
        type="application/json+oembed"
        href="{{ oembed_url }}"
        title="{{ title }}" />
{% endblock %} 

{% block navlinks %}
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#examples">Sample Elections</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#types">Visualization Types</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/upload.html">Upload</a>
</li>
{% endblock %}

{% block maincontent %}
<div class="section fp-auto-height">
  <header class="masthead bg-primary text-white text-left pb-0 pt-1" id="masthead"> <!-- dynamically loaded later -->
      <p class="masthead-subheading font-weight-light mb-0 pl-3">{{ title }}</p>
      <p class="font-weight-light mb-0 pl-3">{{ date }}</p>
    <div class="container d-flex align-items-left flex-column ml-0">

    <ul class="nav nav-tabs" id="tablist" role="tablist">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="barchart-tab" data-toggle="changeviz" href="#barchart" role="tab" aria-controls="barchart" aria-selected="true">Bar Chart</a>
        </li>
        <li class="nav-item" name="li_hideable_sankey">
            <a class="nav-link btn btn-outline-light" id="sankey-tab" data-toggle="changeviz" href="#sankey" role="tab" aria-controls="sankey" aria-selected="false">Sankey</a>
        </li>
        <li class="nav-item" name="li_hideable_tabular">
            <a class="nav-link btn btn-outline-light" id="round-by-round-tab" data-toggle="changeviz" href="#round-by-round" role="tab" aria-controls=="round-by-round" aria-selected="false">Round-by-Round</a>
        </li>
        <li class="nav-item" name="li_hideable_tabular">
            <a class="nav-link btn btn-outline-light" id="candidate-summary-tab" data-toggle="changeviz" href="#candidate-summary" role="tab" aria-controls="candidate-summary" aria-selected="false">Candidate Summary</a>
        </li>
        <li class="nav-item" name="li_hideable_tabular">
            <a class="nav-link btn btn-outline-light" id="single-table-summary-tab" data-toggle="changeviz" href="#single-table-summary" role="tab" aria-controls="single-table-summary" aria-selected="false">Single Table Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="settings-tab" data-toggle="changeviz" href="#settings" role="tab" aria-controls="settings" aria-selected="false"><img src="{% static 'visualizer/icon_settings.png' %}" width="20"/></a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="share-tab" data-toggle="changeviz" href="#share" role="tab" aria-controls="share" aria-selected="false"><img src="{% static 'visualizer/icon_share.png' %}" width="20"/></a>
        </li>
    </ul>
    </div>
  </header>

    <h6 id="toggle-dynamic" class="ml-2 mt-2">
		<a id="make-print-friendly" href="#" class="vis-interactive">Showing interactive content. Show print-friendly instead?</a>
		<a id="make-interactive" href="#" class="vis-fixed">Showing print-friendly content. Show interactive instead?</a>
	</h6>

    <div class="slide mt-2" id="barchart" data-anchor="a-barchart" aria-labeledby="barchart-tab">
      <div class="vis-fixed">
          {% include "bargraph/barchart-fixed.html" %}
      </div>
      <div class="vis-interactive">
          {% include "bargraph/barchart-interactive.html" %}
      </div>
    </div>

    <div class="slide mt-2" id="sankey" data-anchor="a-sankey" aria-labeledby="sankey-tab">
        {% include "sankey/sankey.html" %}
    </div>

    <div class="slide mt-2" id="round-by-round" data-anchor="a-round-by-round" aria-labeledby="round-by-round-tab">
      <div class="vis-fixed">
          {% include "tabular/tabular-by-round.html" %}
      </div>
      <div class="vis-interactive">
          {% include "tabular/tabular-by-round-interactive.html" %}
      </div>
    </div>

    <div class="slide mt-2" id="candidate-summary" data-anchor="a-candidate-summary" aria-labeledby="candidate-summary-tab">
        {% include "tabular/tabular-by-candidate.html" %}
    </div>

    <div class="slide mt-2" id="single-table-summary" data-anchor="a-single-table-summary" aria-labeledby="single-table-summary-tab">
        {% include "tabular/tabular-candidate-by-round.html" %}
    </div>

    <div class="slide mt-2" id="settings" data-anchor="a-settings" aria-labeledby="settings-tab">
        {% include "settings/settings-update.html" %}
    </div>

    <div class="slide mt-2" id="share" data-anchor="a-share" role="tabpanel" aria-labelledby="share-tab">
        {% include "share/share.html" %}
    </div>
</div>
{% endblock %}

{% block afterFullpage %}
    {% include "visualizer/common-visualizer-nonblocking.html" %}
    {% include "sankey/sankey-nonblocking.html" %}
    {% include "bargraph/barchart-common-nonblocking.html" %}
    {% include "bargraph/barchart-fixed-nonblocking.html" %}
    {% include "bargraph/barchart-interactive-nonblocking.html" %}
    {% include "tabular/tabular-by-round-interactive-nonblocking.html" %}
    {% include "settings/settings-nonblocking.html" %}
    {% include "settings/settings-update-nonblocking.html" %}
    {% include "share/share-nonblocking.html" %}

  <script type="text/javascript">
    fullpageOptions.verticalCentered = false;
    fullpageOptions.navigation = false;
    fullpageOptions.fitToSection = false;
    fullpageOptions.scrollOverflow = true;
    fullpageOptions.lockAnchors = true;
    fullpageOptions.slidesNavigation = false;
    fullpageOptions.controlArrows = false;
    fullpageOptions.autoScrolling = false;
    fullpageOptions.onSlideLeave = function(section, origin, destination, direction) {
      goToTab(destination.item.id);
    }
    fullpageOptions.afterLoad = function(origin, destination, direction) {
      loadTabFromTag();
    }

    // Handle bootstrap nav clicks, forward them to fullpage.js
    $('.nav-tabs a').on('click', function (e) {
      e.preventDefault()
      const tab = this.id;
      goToTab(tab.substring(0, tab.length - 4)); // remove "-tab"
    })

    let currentTab = '';
    function goToTab(tabName) {
        console.log("Go to tab " + tabName + '/' + currentTab);
      if (tabName == currentTab) return;
      currentTab = tabName;

      // Select tab via bootstrap
      fullpage_api.moveTo(2, 'a-'+tabName)
      $('.nav-tabs a[href="#' + tabName + '"]').tab('show');

      // Update whether interactive/static toggle is there
      const canBeDynamic = tabName == 'barchart' || tabName == 'round-by-round';
      document.getElementById('toggle-dynamic').style.display = canBeDynamic ? 'block' : 'none';

      // Update history
      history.pushState(null,null,'#' + tabName)
    }

    function loadTabFromTag() {
        // c/o https://stackoverflow.com/a/9393768/1057105
        // Javascript to enable link to tab
        var url = document.location.toString();
        let firstTab = 'barchart';
        if (url.match('#')) {
          firstTab = url.split('#')[1];
        } 
        goToTab(firstTab);
    }

    function togglePrintFriendly(isPrintFriendly) {
      const fixed = document.querySelectorAll('.vis-fixed');
      const interactive = document.querySelectorAll('.vis-interactive');
      fixed.forEach(element => {
        element.style.display = isPrintFriendly ? 'block' : 'none';
      });
      interactive.forEach(element => {
        element.style.display = !isPrintFriendly ? 'block' : 'none';
      });
    }

    // Handle print-friendly buttons, and make sure they don't change the #tag
    document.getElementById("make-print-friendly").addEventListener("click", function(event) {
      togglePrintFriendly(true);
      event.preventDefault();
      return false;
    });
    document.getElementById("make-interactive").addEventListener("click", function(event) {
      togglePrintFriendly(false);
      event.preventDefault();
      return false;
    });
  </script>
{% endblock %}
