{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
{% include "visualizer/common-header.html" %}
{% include "visualizer/common-visualizer-header.html" %}

{% compress css file %}
<link href="{% static 'visualizer/visualize-ballotpedia.css' %}" rel="stylesheet">
{% endcompress %}
</head>

<body id="embedded-body">
  <div id="embedded-wrapper">
    <div id="bp-header">{{title}}</div>
    <div id="embedded-content">
      {% include "bargraph/barchart-interactive.html" %}
      <div id="bp-info" class="container">
        <div id="bp-infobox-left">
          {% if hasIncumbents %}
            Incumbents are <span class="dataLabelIncumbent">bolded and underlined</span>.
          {% else %}
            There were no incumbents in this race.
          {% endif %}
          {% if config.areResultsCertified %}
            The results have been certified.
          {% endif %}
    
          {% if config.dataSourceURL %}
              <a href="{{ config.dataSourceURL }}">Source [{{ sourceDomain }}]</a>
          {% endif %}
        </div>
        <div id="bp-infobox-right">Total Votes: {{ numVotesFirstRound }}</div>
      </div>
    </div> 
    <div id="embedded-footer">
      <a href="{% url 'visualize' config.slug %}" target="_blank">
        <img src="{% static 'visualizer/logo-white.png' %}" width="100px"/>
      </a>
      <div class="sendfeedback">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwMw6xYNyxbZiEtuB0G9F7avQhkLY_jmlXjNOBPA01qR4y3g/viewform?usp=sf_link" target="_blank">Send Feedback</a>
      </div>
    </div>
  </div>
  
  {% include "visualizer/common-visualizer-nonblocking.html" %}
  {% include "bargraph/barchart-common-nonblocking.html" %}
  {% include "bargraph/barchart-interactive-nonblocking.html" %}
</body>
</html>
