{% extends "visualizer/base.html" %}
{% load static %}

{% block title %}<title>{{ title }} - Ranked Choice Voting Visualization</title>{% endblock %}

{% block header %}
  {% if offlineMode %}
  <script src="{% static 'localdeps/d3.js' %}"></script>
  {% else %}
  <!-- for online use -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.js"></script>
  {% endif %}

  <!-- Shared resources for multiple visualizations-->
  <script src="{% static 'bargraph/barchart.js' %}"></script>
  <script src="{% static 'bargraph/barchart-common.js' %}"></script>
  <script src="{% static 'visualizer/common.js' %}"></script>

  <link rel="stylesheet" href="{% static "visualizer/common.css" %}">
  <link rel="stylesheet" href="{% static "sankey/style.css" %}">
  <link rel="stylesheet" href="{% static "bargraph/style.css" %}">
{% endblock %} 

{% block navlinks %}
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#examples">Sample Elections</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#types">Visualization Types</a>
</li>
<li class="nav-item mx-0 mx-lg-1">
  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html">Upload</a>
</li>
{% endblock %}

{% block maincontent %}
  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-left pb-0" style="padding-top: 8rem">
      <p class="masthead-subheading font-weight-light mb-0 pl-3">{{ title }}</p>
      <p class="masthead-subheading font-weight-light mb-0 pl-3">{{ date }}</p>
    <div class="container d-flex align-items-left flex-column ml-0">
    <ul class="nav nav-tabs" id="tablist" role="tablist">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="barchart-tab-interactive" data-toggle="tab" href="#barchart-interactive" role="tab" aria-controls="barchart-interactive" aria-selected="false">Bar Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="barchart-tab-fixed" data-toggle="tab" href="#barchart-fixed" role="tab" aria-controls="barchart-fixed" aria-selected="false">Bar Chart</a>
        </li>
        {% if not config.hideSankey %}
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="sankey-tab" data-toggle="tab" href="#sankey" role="tab" aria-controls="sankey" aria-selected="false">Sankey</a>
        </li>
        {% endif %}
        {% if not config.hideTabular %}
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="tabular-by-round-tab-interactive" data-toggle="tab" href="#tabular-by-round-interactive" role="tab" aria-controls="tabular-by-round-interactive" aria-selected="false">Round-by-Round</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="tabular-by-round-tab-fixed" data-toggle="tab" href="#tabular-by-round-fixed" role="tab" aria-controls="tabular-by-round-fixed" aria-selected="false">Round-by-Round</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light" id="tabular-by-candidate-tab" data-toggle="tab" href="#tabular-by-candidate" role="tab" aria-controls="tabular-by-candidate" aria-selected="false">Candidate Summary</a>
        </li>
        {% endif %}
    </ul>
    </div>
  </header>

    <div class="tab-content mb-5" id="myTabContent">
        <h6 style="margin-left: 20px; margin-top:20px"><a id="swap-dynamic" href="#"></a></h6>

        <div class="tab-pane fade" id="sankey" role="tabpanel" aria-labelledby="sankey-tab">{% include "sankey/sankey.html" %}</div>
        <div class="tab-pane fade" id="barchart-fixed" role="tabpanel" aria-labelledby="barchart-tab-fixed">{% include "bargraph/barchart-fixed.html" %}</div>
        <div class="tab-pane fade" id="barchart-interactive" role="tabpanel" aria-labelledby="barchart-tab-interactive">{% include "bargraph/barchart-interactive.html" %}</div>
        <div class="tab-pane fade" id="tabular-by-candidate" role="tabpanel" aria-labelledby="tabular-by-candidate-tab">{% include "tabular/tabular-by-candidate.html" %}</div>
        <div class="tab-pane fade" id="tabular-by-round-fixed" role="tabpanel" aria-labelledby="tabular-by-round-tab-fixed">{% include "tabular/tabular-by-round.html" %}</div>
        <div class="tab-pane fade" id="tabular-by-round-interactive" role="tabpanel" aria-labelledby="tabular-by-round-tab-interactive">{% include "tabular/tabular-by-round-interactive.html" %}</div>
    </div>

  {% if offlineMode %}
  <script src="{% static 'localdeps/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'localdeps/popper.min.js' %}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static 'localdeps/bootstrap.min.js' %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {% else %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {% endif %}
{% endblock %}

{% block etc %}
  <script>
      function goToTab(tabName)
      {
          $('.nav-tabs a[href="#' + tabName + '"]').tab('show');
      }

      function loadTabFromTag()
      {
          // c/o https://stackoverflow.com/a/9393768/1057105
          // Javascript to enable link to tab
          var url = document.location.toString();
          if (url.match('#')) {
              activeTab = url.split('#')[1];
          } 
          goToTab(activeTab);
      }

      function getTabNameWithCorrectDynamismAndFixSwapText(tabName)
      {
        var swapText = document.getElementById("swap-dynamic");
        if(doHideFixedTabs)
        {
          suffixOld = "-fixed"
          suffixNew = "-interactive"
          swapText.innerText = "Showing interactive content. Show print-friendly instead?"
        }
        else
        {
          suffixOld = "-interactive"
          suffixNew = "-fixed"
          swapText.innerText = "Showing print-friendly content. Show interactive instead?"
        }

        return tabName.replace(suffixOld, suffixNew); 
      }

      function updateHiddenTabs()
      {
        activeTab = getTabNameWithCorrectDynamismAndFixSwapText(activeTab);
        goToTab(activeTab);

        // Iterate over all tabs and change their status
        var i;
        var tabs = document.getElementsByClassName("nav-link");
        for (i = 0; i < tabs.length; i++) {
          tabs[i].hidden = tabs[i].id.endsWith(suffixOld);
        }
      }

      var activeTab = "barchart-interactive"; // the default tab
      loadTabFromTag()
      var doHideFixedTabs = !activeTab.endsWith("-fixed");
      updateHiddenTabs();

      function refreshContentByTabAndDynamism(tabName)
      {
          var oldTab = activeTab
          activeTab = getTabNameWithCorrectDynamismAndFixSwapText(tabName);

          var doHideToggle = !activeTab.endsWith("-fixed") && !activeTab.endsWith("-interactive");
          var swapText = document.getElementById("swap-dynamic");
          swapText.style.display = doHideToggle ? "none" : "block";

          if (oldTab != activeTab)
          {
              history.pushState(null,null,'#' + activeTab);
          }
      }

      document.getElementById("swap-dynamic").addEventListener("click", function(event) {
        // Changing dynamism
        doHideFixedTabs = !doHideFixedTabs;
        refreshContentByTabAndDynamism(activeTab);
        updateHiddenTabs();
        event.preventDefault();
        return false;
      });

      // Change hash for page-reload
      $('.nav-tabs a').on('shown.bs.tab', function (e) {
          // Changing tabs
          refreshContentByTabAndDynamism(e.target.hash.split('#')[1]);
          e.preventDefault();
          return false;
      })
      $(window).on("popstate", function (e) {
          // Back/forward button
          loadTabFromTag();
          e.preventDefault();
          return false;
      });

  </script>
{% endblock %}
